FORMAT: 1A
HOST: https://www.mavenclinic.com/api/v1

# Maven Clinic V1 API
The Maven Clinic API is the data storage and user management interface for The Maven Clinic.

ALL requests except for internal metadata, subscription plans, user creation and password reset require an *API-KEY* header (it's not case-sensitive) that contains a valid API Key--prepended with a TTL--for a Maven Clinic user. All requests must be transmitted over HTTPS.

API requests made directly during local development require an *X-Maven-User-Id* header containing a valid user id, and must be transmitted over HTTP.


# Group Internal Data
This provides app-level data for the frontends that is needed to initialize all the functionality.

## Internal Metadata [/_/metadata/]

### Get Internal Metadata [GET]

+ Response 200 (application/json)

    + Body

            {
              "messaging_member_character_limit": 4096,
              "platform_data": {
                "ios": {
                  "version": "1.2.0"
                }
              },
              "stripe_publishable_key": "pk_test_134u9q8fqofa",
              "tokbox_api_key": "o8ahf9a89fnui",
              "ziggeo_account_id": "e7f2538976d49815ede1ac4d3c1cdfbb",
              "default_college_vertical_group": "college",
              "asset_content_length_limit": 52428800,
              "recaptcha_site_key": "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
              "launchdarkly_mobile_key": "mob-key-abc123",
              "launchdarkly_client_side_id": "client-side-id-abc123",
            }


## Internal Vendor Metadata [/_/metadata/vendor]
Note: You must be logged in to access this endpoint.

### Get Vendor Metadata [GET]

+ Response 200 (application/json)

    + Body

            {
                "braze": {
                  "ios_api_key": "be78ca61-b668-453f-a829-59481fca9a5a",
                  "ios_mpractice_api_key": "be78ca61-b668-453f-a829-59481fca9a5a",
                  "ios_sdk_url": "sdk.iad-02.braze.com"
                }
            }


## Country Metadata [/_/geography]
Standard information about countries from the pycountry library.

### Get Country Metadata [GET]

+ Response 200 (application/json)

    + Body

            [
                 {
                     "alpha_2": "AW",
                     "alpha_3": "ABW",
                     "name": "Aruba",
                     "numeric": "533"
                 },
                  {
                      "alpha_3": "TWN",
                      "common_name": "Taiwan",
                      "name": "Taiwan, Province of China",
                      "numeric": 158,
                      "alpha_2": "TW",
                      "official_name": "Taiwan, Province of China"
                  },
                 {
                     "alpha_2": "AO",
                     "alpha_3": "AGO",
                     "name": "Angola",
                     "numeric": "024",
                     "official_name": "Republic of Angola",
                     "common_name": ""
                 },
                 {
                     "alpha_2": "AI",
                     "alpha_3": "AIA",
                     "name": "Anguilla",
                     "numeric": "660"
                 },
                 ...
            ]


## Subdivision Metadata [/_/geography/{country_code}]
Standard information about the sub divisions of countries be it states, province, or otherwise.

+ Parameters
    + `country_code`: `US` (string) - The alpha_2 country code.

### Get Subdivision Metadata [GET]

+ Response 200 (application/json)

    + Body

            [
                {"subdivision_code": "US-AK", "abbreviation": "AK", "name": "Alaska"},
                {"subdivision_code": "US-AL", "abbreviation": "AL", "name": "Alabama"},
                {"subdivision_code": "US-AR", "abbreviation": "AR", "name": "Arkansas"},
                ...
            ]

## Vertical Groupings [/_/vertical_groupings/]

### Get Vertical Groupings Data [GET]

+ Response 200 (application/json)

    + Body

            {
                "my-health": [{"id": 1, "name": "Doula", "pluralized_display_name": "Doulas"}],
                "pregnancy-baby": [{"id": 2, "name": "Midwife", "pluralized_display_name": "Midwives"}]
            }


## Verticals [/verticals/]

### Get Verticals Data [GET]

+ Response 200 (application/json)

    + Body

            [{"id": 1, "name": "Doula", "pluralized_display_name": "Doulas", "can_prescribe": false},
             {"id": 2, "name": "Midwife", "pluralized_display_name": "Midwives", "can_prescribe": false}]


## Password Strength Score [/_/password_strength_score/]

### Retrieve Password Strength Score [POST]

+ Request (application/json)

        {
            "password": "foobar"
        }

+ Response 200 (application/json)

    + Body

            {
              "feedback": [
                "Add another word or two. Uncommon words are better.",
                "This is a very common password."
              ],
              "score": 2.961421094066448,
              "password_strength_score": 1,
              "password_strength_ok": False,
              "password_length": 6
            }


# Agreements

Maven maintains versioned agreements with both members and practitioners.

## Agreement by name [/_/agreements/agreement_name{?version}]

+ Parameters
  + version (optional, integer) ... Allow clients to retrieve specific versions. If no version is provided, the latest agreement will be returned.

### Get Agreements [GET]

The `agreement_name` currently has three enumerations: `service`, `privacy`, & `terms`

`/_/agreements/service?version=2`

+ Response 200 (application/json)

    + Body

            {
              "name": "service",
              "display_name": "Practitioner Service Agreement",
              "agreement": <html>agreement html</html>,
              "version": 2,
            }

## Accept Agreements [/_/agreements]

### Accept Agreements [POST]

A user can accept to an agreement or multiple agreements (note that it must always be sent in an array format under the `agreements` field name).

Accepts an array of objects comprised of a `name` and `version`.

The `name` field must match the AgreementName enumerations: `privacy`, `service`, & `terms`

+ Request (application/json)

    + Body

        {

          agreements: [
            {
              "name": "privacy",
              "version": 2
            },
            {
              "name": "terms",
              "version": 2
            }
          ]
        }


## Pending Agreements [/agreements/pending]

### Pending Agreements [GET]

Returns lists of user and organization scoped agreements that are pending for the current user

+ Response 200 (application/json)

            {
                "user": [
                    {
                        "name": "terms",
                        "display_name": "Terms of Use",
                        "version": 3,
                        "optional": false,
                    },
                    {
                        "name": "privacy",
                        "display_name": "Privacy Policy",
                        "version": 3,
                        "optional": false,
                    },
                ],
                "organization": [
                    {
                        "name": "Microsoft",
                        "display_name": "Microsoft Employee Consent Form",
                        "version": 3,
                        "optional": false,
                    }
                ]
            }


## Subscription Agreements [/_/agreements/subscription/{version}/]

This endpoint is deprecated in favor of `/_/agreements/`

+ Parameters
    + `version`: `0` (integer) - Send `0` as the version to get the latest agreement, or a positive integer for a specific version.

### Get Subscription Agreements Data [GET]

+ Response 200 (application/json)

    + Body

            {
                "agreement": "<body>foo</body>"
            }




# Group Users

## Me [/me{?include_profile}]

The **Me API** allows you to get, your own user without knowing your ID. It returns the same data as the [User](#users-user) API.

+ Parameters
    + include_profile (optional, boolean) ... this is a flag to indicate if we should include profile information in each response
        + Default: false

### Fetch Your Own User [GET]

+ Response 200 (application/json)

            {
                "first_name": "Jane",
                "middle_name": "J",
                "last_name": "Doe",
                "test_group": "a",
                "username": "Jane29785",
                "email": "jane@example.com",
                "image_id": 1,
                "esp_id": "2421b7a1-50cb-46ff-9fff-6f0bf3b6f818",
                "organization": {
                    "name": "Foo Bar Inc",
                    "vertical_group_version": "enterprise1",
                    "bms_enabled": true
                },
                "subscription_plans": [
                    {
                        "cancelled_at": "2016-06-01T16:19:13",
                        "api_id": "f77fddcc-f8cc-4e3d-874c-6d13e0df1b93",
                        "plan": {
                            "minimum_segments": 2,
                            "active": true,
                            "id": 1,
                            "is_recurring": true,
                            "price_per_segment": "125.00",
                            "segment_days": 30
                        },
                        "started_at": null,
                        "first_cancellation_date": null,
                        "total_segments": 0,
                        "is_claimed": null,
                        "plan_payer": {
                            "email_confirmed": true,
                            "email_address": "1@mavenclinic.com"
                        }
                    }
                ],
                "profiles": {
                    "practitioner": {
                        "certified_states": [
                            "NY"
                        ],
                        "years_experience": 12,
                        "certifications": [
                            "RN"
                        ],
                        "categories": [
                            "breastfeeding",
                            "digestion"
                        ],
                        "cancellation_policy": "strict",
                        "agreements": {
                            "subscription": true
                        },
                        "can_prescribe": true,
                        "is_cx": false,
                        "can_member_interact": true
                    },
                    "member": {
                        "state": "NY",
                        "tel_number": "tel:+1-913-476-8475"
                    }
                },
                "onboarding_state": "user_created",
                "pending_agreements":  [
                    {
                      "name": "terms",
                      "display_name": "Terms of Use",
                      "version": 3
                    },
                    {
                      "name": "privacy",
                      "display_name": "Privacy Policy",
                      "version": 3
                    },
                ],
                "unclaimed_invite": {
                    "invite_id": "b3ee74fa-a6e1-4bd9-8a20-80de5e83806a",
                    "type": "FILELESS_EMPLOYEE",
                    "email": "first@mavenclinic.com"
                },
                "wallet": {
                    "eligible":
                        [
                            {
                                "wallet_id": null,
                                "organization_setting_id": "1",
                                "survey_url": "https://www.surveymonkey.com/something/"
                                "state": null,
                                "benefit_overview_resource": {
                                    "url": "https://resource.url",
                                    "title": "Organization Maven Wallet Reimbursement Manual"
                                },
                                "benefit_faq_resource": {
                                    "url": "https://resource.url",
                                    "title": "Organization Maven Wallet FAQ"
                                }
                            }
                        ],
                    "enrolled":
                        [
                            {
                                "wallet_id": "1",
                                "state": "PENDING",
                                "channel_id": null,
                                "benefit_overview_resource": null,
                                "benefit_faq_resource": {
                                    "url": "https://resource.url",
                                    "title": "Organization Maven Wallet FAQ"
                                }
                            }
                        ]
                    }
            }

## Current User [/users/me]

The **User API** returns basic information about the authenticated user. It is effectively a slimmed down v2 of /me.

### Get Current User [GET]

+ Response 200 (application/json)

            {
                "id": 123123,
                "first_name": "Jane",
                "middle_name": "J",
                "last_name": "Doe",
                "email": "jane@example.com",
                "name": "Jane Doe",
                "username": "jane.doe"
                "date_of_birth": "2000-01-01",
                "role": "member",
                "onboarding_state": "user_created",
                "esp_id": "09e9e34b-73dd-42cf-9fed-ca59d8442b09",
                "encoded_id": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MDYyMDg0NTUsImludHZhbCI6ODM5NjA4LCJzY29wZSI6InVzZXJfaWQifQ.riGN24qzGeLn2kRky20w3N9X3JDyAHV09xiOsVsE1xM",
                "avatar_url": "https://img-res.mavenclinic.com/qk0QbQkDcrq4jbtBvx1WLuROe3s=/500x500/smart/https://storage.googleapis.com/maven-dev-images/95038a62-9da6-4c5a-9108-7e920aeebfaa",
                "image_id": 123123,
                "image_url": "https://img-res.mavenclinic.com/qk0QbQkDcrq4jbtBvx1WLuROe3s=/500x500/smart/https://storage.googleapis.com/maven-dev-images/95038a62-9da6-4c5a-9108-7e920aeebfaa",
            }

## LaunchDarkly Context [/launchdarkly_context]

The **LaunchDarkly Context API** allows you to get the context data for the authenticated user necessary to evaluate LaunchDarkly feature flags. The response schema of this endpoint will conform to the LaunchDarkly-native representation of a [Multi-context](https://docs.launchdarkly.com/home/contexts/multi-contexts#multi-contexts).

### Fetch Your Own LaunchDarkly Contexts [GET]

+ Response 200 (application/json)

            {
                "kind": "multi",
                "user": {
                    "key": "ecf6d1ed-53fd-4f3f-b54c-d4e0a8884e46",
                    "name": "janedoe1337",
                    "email": "jane@example.com",
                    "roles": ["member"],
                    "activeTracks": ["pregnancy"],
                    "_meta": {
                        "privateAttributes": [
                            "name",
                            "email",
                            "roles",
                            "activeTracks"
                        ]
                    }
                }
            }


## Users [/users]

### Add a User [POST]

A user can be added. "source" will provide a different welcome flow if it is a recognized value, for example "ios" or "web". install_campaign is used for auto-application of referral codes, if present. install_source and install_content will be recorded (along with install_campaign) in order to attribute the registration to a particular ad campaign for that user. These 4 fields are all optional...

If the user explicitly consensts to agreements, pass `"agreements_accepted": true` to have the backend accept all the latest member agreements.

+ Request (application/json)

        {
            "first_name": "Jane",
            "middle_name": "J",
            "last_name": "Doe",
            "username": "Jane29785",
            "email": "jane@example.com",
            "password": "password :)",
            "source": "ios",
            "install_source": "Facebook Ads",
            "install_campaign": "Get users",
            "install_content": "maven is awesome 1",
            "plan_invite_id": "some_hash",
            "referral_code": "foobar",
            "agreements_accepted": true
        }

+ Response 200 (application/json)

            {
                "first_name": "Jane",
                "middle_name": "J",
                "last_name": "Doe",
                "username": "Jane29785",
                "email": "jane@example.com",
                "image_id": null
            }


## User [/users/{user_id}/{?include_profile}]

The **User API** allows you to get, edit, and delete users. It also allows you fetch access tokens to manage user access to other API resources.

+ Parameters
    + user_id (number) - ID of the user

### Fetch Your Own User (Including Profile) [GET]

+ Parameters
    + include_profile (optional, boolean) ... this is a flag to indicate if we should include profile information in each response
        + Default: false


+ Response 200 (application/json)

            {
              "first_name": "Jane",
              "middle_name": "J",
              "last_name": "Doe",
              "username": "Jane29785",
              "email": "jane@example.com",
              "image_id": 1,
              "organization": {
                "name": "Foo Bar Inc",
                "vertical_group_version": "enterprise1",
                "bms_enabled": true
              },
              "subscription_plans": [
                {
                  "cancelled_at": "2016-06-01T16:19:13",
                  "api_id": "f77fddcc-f8cc-4e3d-874c-6d13e0df1b93",
                  "plan": {
                    "minimum_segments": 2,
                    "active": true,
                    "id": 1,
                    "is_recurring": true,
                    "price_per_segment": "125.00",
                    "segment_days": 30
                  },
                  "started_at": null,
                  "first_cancellation_date": null,
                  "total_segments": 0,
                  "is_claimed": null,
                  "plan_payer": {
                    "email_confirmed": true,
                    "email_address": "1@mavenclinic.com"
                  }
                }
              ],
              "profiles": {
                "practitioner": {
                  "certified_states": [
                    "NY"
                  ],
                  "years_experience": 12,
                  "certifications": [
                    "RN"
                  ],
                  "categories": [
                    "breastfeeding",
                    "digestion"
                  ],
                  "cancellation_policy": "strict",
                  "agreements": {
                    "subscription": true
                  },
                  "can_prescribe": true,
                  "is_cx": false,
                  "can_member_interact": true
                },
                "member": {
                  "state": "NY",
                  "tel_number": "9134768475"
                }
              }
            }

### Fetch Your Own User (Generic Enterprise User) [GET]
A "generic" enterprise user has the "generic" module in their structured programs.

+ Response 200 (application/json)

            {
                "first_name": "Jane",
                "middle_name": "J",
                "last_name": "Doe",
                "test_group": "a",
                "username": "Jane29785",
                "email": "jane@example.com",
                "image_id": 1,
                "organization": null,
                "subscription_plans": [],
                "profiles": {
                    "practitioner": {},
                    "member": {
                        "state": "NY",
                        "tel_number": "tel:+1-913-476-8475"
                    }
                }
            }

### Fetch Your Own User (Pending Validation Enterprise User) [GET]
A pending verification/activation enterprise user has a pending type in their structured programs.

+ Response 200 (application/json)

            {
                "first_name": "Jane",
                "middle_name": "J",
                "last_name": "Doe",
                "test_group": "a",
                "username": "Jane29785",
                "email": "jane@example.com",
                "image_id": 1,
                "organization": null,
                "subscription_plans": [],
                "profiles": {
                    "practitioner": {},
                    "member": {
                        "state": "NY",
                        "tel_number": "tel:+1-913-476-8475"
                    }
                }
            }

### Edit a User (Update name, username, image_id, and email) [PUT]

+ Request (application/json)

        {
            "first_name": "Janey",
            "middle_name": "J",
            "last_name": "Doe",
            "username": "Jane29785",
            "image_id": 1,
            "email": "jane@example.com"
        }

+ Response 200 (application/json)

            {
                "first_name": "Janey",
                "middle_name": "J",
                "last_name": "Doe",
                "username": "Jane29785",
                "image_id": 1,
                "email": "jane@example.com"
            }

### Edit a User (Change password) [PUT]

+ Request (application/json)

        {
            "first_name": "Janey",
            "middle_name": "J",
            "last_name": "Doe",
            "username": "Jane29785",
            "old_password": "foo",
            "new_password": "bar",
            "email": "jane@example.com"
        }

+ Response 200 (application/json)

            {
                "first_name": "Janey",
                "middle_name": "J",
                "last_name": "Doe",
                "username": "Jane29785",
                "image_id": 1,
                "email": "jane@example.com"
            }

### Delete a User [DELETE]

A user can be deleted by ID if you have the required authorization (in reality, only if it is you :)).

This will DEACTIVATE the user so they cannot login anymore, but will not actually delete the row from the DB.

+ Response 204


## Organization Associations [/users/{user_id}/organizations]

A user can be associated with an organization.

+ Parameters
    + `user_id` - the ID of the user to be associated with an organization.

### Attach a user to an Organization [POST]

#### Arguments

+ **company_email**
+ **work_state**
+ **first_name**
+ **last_name**
+ **date_of_birth** (string, required)
+ **verification_reason**
+ **is_employee** (boolean) - Whether the user for this care program is employed by the
  associated organization or are receiving benefits through an employee of that
  organization.
+ **external_identity** (boolean) - Should be set to true if the user is using SSO to
  verify their eligibility.

`company_email` is required unless all three of `work_state`, `first_name`, and
`last_name` are provided. If the email/dob or
state/name/dob are in our records for an organization, we will attach. If not, we will
return a 400. For now, we will also return a 400 if there is no valid due date or last
child birthday in the users health profile since that happens earlier in signup and is
required.

The value of "verification_reason" should be the desired module name ("pregnancy" is
the default value). If the given module name is supported by the user/organization, we
return a 201 with the "can_invite_partner" boolean as seen in the example response
below. This value is true if the user can invite their partner using the Invite
endpoint. We will also return a 201 response if the given module is NOT supported by
the organization for that user. The user will be put into a pending state with limited
credit.

+ Request (application/json)

        {
            "company_email": "foo@bar.com",
            "work_state": "NY",
            "first_name": "Jen",
            "last_name": "Smith",
            "date_of_birth": "2016-01-01",
            "verification_reason": "partner-pregnant",
            "is_employee": true,
            "external_identity": false
        }

+ Response 201

         {"can_invite_partner": true}


### Attach a fileless user to an Organization [POST]

+ Request (application/json)
    {
        "verification_reason": "pregnancy",
        "fileless": true
    }

+ Response 201
    {"can_invite_partner": false}

## Organization Employee [/users/{user_id}/organization_employee]

This endpoint provide organization employee data, address information currently.

+ Parameters
    + user_id - the ID of the enterprise user.

### Get organization employee [GET]

Retrieve user's organization employee data. Right now it's address information.

+ Response 200 (application/json)

    + Body

            {
                "employee_first_name": "Jane",
                "employee_last_name": "Smith",
                "address_1": "100 Main Street",
                "address_2": null,
                "city": "New York",
                "state": "NY",
                "zip_code": "10013"
            }


## Program Transitions [/users/{user_id}/transitions/programs]
This endpoint provides descriptions of available program transitions, and controls to conduct transitions.

+ Parameters
    + user_id - the ID of the enterprise user.

### Get available transitions [GET]
Retrieve user's available program transitions, where `transitions[*].subject` can be used to initiate the program transition.

+ Response 200 (application/json)

    + Body

            {
                "my_program_display_name": "Maven Pregnancy",
                "transitions": [
                    {
                        "description": "I've gotten pregnant",
                        "subject": {"source": 1, "destination": 2}
                    },
                    {
                        "destination": "I've experienced a loss",
                        "subject": {"source": 1, "destination": 3}
                    }
            }

### Initiate a program transition [POST]
Once a transition is successfully initiated, the transitional dashboard can be retrieved from the prompt endpoint.

+ Request (application/json)

        {
            "source": 1, "destination": 2
        }

+ Response 200

### Cancel a program transition [POST]

+ Request (application/json)

        {
            "source": 1, "destination": "cancel-transition"
        }

+ Response 200

### Commit a program transition [POST]

+ Request (application/json)

        {
            "source": 1, "destination": "commit-transition"
        }

+ Response 200


## Dismissals [/users/{user_id}/dismissals]

+ Parameters
    + user_id - the ID of the enterprise user.

### Record a dismissal [POST]

+ Request (application/json)

        {
            "card_action_id": 1
        }

+ Response 200


## Dashboard [GET /users/{user_id}/dashboard]
Get the current dashboard that you should show to the user. Can only get your own. If a dashboard does not exist, an empty object will be returned.

See https://gitlab.mvnctl.net/maven/maven/wikis/dynamic-dashboards-schema for more detailed info.

+ Parameters
    + user_id - the ID of the enterprise user.

+ Response 200 (application/json)

            {
                "name": "Sample dashboard",
                "version": "123456789",
                "slug": "sample-dashboard",
                "blocks": [
                    {"title": "hi",
                     "cards": [
                        {"type": "foo",
                         "name": "test",
                         "body": [],
                         "actions": []}
                    ]}
                ]
            }


## Prompt [GET /users/{user_id}/prompt]
Get the current prompt that you should show to the user, will be a single overlay or fullscreen card. Can only get your own. If a prompt does not exist, an empty object will be returned.

See https://gitlab.mvnctl.net/maven/maven/wikis/dynamic-dashboards-schema for more detailed info.

+ Parameters
    + user_id - the ID of the enterprise user.

+ Response 200 (application/json)

            {
                "name": "Sample prompt",
                "version": "123456789",
                "slug": "sample-dashboard",
                "blocks": [
                    {"title": "hi",
                     "cards": [
                        {"type": "foo",
                         "style": "overlay",
                         "name": "test",
                         "body": [],
                         "actions": []}
                    ]}
                ]
            }


## Invite [/invite/{id}]

Create partner invites.

### Create an invite [POST]

Create an invite. This will create an invite object and send a partner invite email to the given "email". The supplied "date_of_birth" and "tel_number" will be applied to the user who accepts the invite. "due_date" and "last_child_birthday" are required based on the current user's module (i.e. "partner_pregnant" will require "due_date").

+ Request (application/json)

        {
            "email": "wife@family.com",
            "name": "Jane",
            "date_of_birth": "2016-01-01",
            "tel_number": "tel:+1-913-476-8475"
            "due_date": "2016-01-01",
            "last_child_birthday": "2016-01-01"
        }

+ Response 201

A region can be provided to contextualize a local phone number.

+ Request (application/json)

        {
            "email": "wife@family.com",
            "name": "Jane",
            "date_of_birth": "2016-01-01",
            "tel_number": "2 310 3000",
            "tel_region": "TH",
            "due_date": "2016-01-01",
            "last_child_birthday": "2016-01-01"
        }

+ Response 201

Manage partner invites.

###  Get an invite [GET]

+ Response 200 (application/json)

    + Body

        {
            "name": "Jane",
            "module": {
                "name": "pregnancy"
            }
        }

## Unclaimed invite [/invite/unclaimed]

### Get an unclaimed invite [GET]

+ Request (application/json)

        {
            "invite_id": "b3ee74fa-a6e1-4bd9-8a20-80de5e83806a",
            "type": "FILELESS_EMPLOYEE",
            "email": "first@mavenclinic.com"
        }

## Fileless Invite [/fileless_invite]

Create [fileless invites for mid-market client users][fileless] to allow eligibility verification
by verifying their work email.

[fileless]: https://www.notion.so/mavenclinic/Fileless-Eligibility-15f877eaae3e4d7bb0b062bca83ac486

### Create a fileless invite [POST]

+ Parameters
    + company_email (string) - The company email address to send the fileless invite to.
    + is_employee (bool) - Whether the user requesting an invite is an employee of a Maven client, or a dependent of an employee.

+ Request (application/json)

        {
            "company_email": "first.last@mavenclinic.com",
            "is_employee": true
        }

+ Response 201

## Fileless Invite Claim [/fileless_invite/claim]

### Claim a fileless invite [POST]

+ Request (application/json)

        {
            "invite_id": "cc1eb365-fcb0-4421-8be9-d833132565ae"
        }

+ Response 204

+ Response 400 (application/json)

        {
            "data": null,
            "errors": [
                {
                    "status": 400,
                    "title": "Bad Request",
                    "detail": "Fileless invite already claimed.",
                    "code": "FILELESS_INVITE_ALREADY_CLAIMED",
                    "message": "Fileless invite already claimed."
                }
            ]
        }

+ Response 404 (application/json)

{
    "data": null,
    "errors": [
        {
            "status": 404,
            "title": "Not Found",
            "detail": "Given fileless invite ID is invalid.",
            "code": "FILELESS_INVITE_INVALID",
            "message": "Given fileless invite ID is invalid."
        }
    ]
}

+ Response 410 (application/json)

        {
            "data": null,
            "errors": [
                {
                    "status": 410,
                    "title": "Gone",
                    "detail": "Fileless invite has expired.",
                    "code": "FILELESS_INVITE_EXPIRED",
                    "message": "Fileless invite has expired."
                }
            ]
        }

## Practitioners [/practitioners{?limit,offset,user_ids,order_by,verticals,vertical_ids,specialty_ids,type,can_prescribe,only_free,product_minutes,available_in_next_hours,availability_scope_in_days,needs,need_ids,bypass_availability}]

Practitioners are health professionals on Maven. Use this resource to search and list them based on different criteria.

### Practitioners [GET]

+ Parameters
    + limit: `20` (int, optional)
        The maximum number of practitioners to return for this call.
        The total count of the full result set will be returned in the pagination object, along with the current offset.
        This information can be used to create a paged view.
        + Default: `20`
    + offset: `20` (int, optional)
        The number of results to skip.
        The total count of the full result set will be returned in the pagination object, along with the current limit.
        This information can be used to create a paged view.
        + Default: `0``
    + user_ids: `1,2,3,5` (csv string, optional)
        This is a comma-separated list of practitioner user ids that you want to get info about.
    + order_by: `next_availability` (string, optional)
        The only valid value is currently `next_availability`
        + Default: `next_availability`
    + order_direction: `asc` (string, optional)
        The direction in which the returned practitioners are sorted.
        This works in conjunction with order_by.
        Valid values are `asc` and `desc`
        + Default: `desc`
    + needs: `Stomach Pains,Second Opinions` (csv string, optional)
        Comma-separated need names to filter to
        The values are case-insensitive.
    + need_ids: `1,2,4,8` (csv int, optional)
        Comma-separated need IDs to filter to
    + verticals: `Adoption Coach,nurse practitioner` (csv string, optional)
        Comma-separated vertical names to filter to
        The values are case-insensitive.
    + vertical_ids: `1,2,4,8` (csv int, optional)
        Comma-separated vertical IDs to filter to
    + specialties: `cold and flu,General Health` (csv string, optional)
        Comma-separated specialties to filter to
        The values are case-insensitive.
    + specialty_ids: `1,2,4,16` (csv int, optional)
        Comma-separated specialty IDs to filter to
    + can_prescribe: `true` (bool, optional)
        Only return prescribers if True
        + Default: `false`
    + only_free: `false` (bool, optional)
        Only return practitioners with products costing less than the current user's credit amount
        + Default: `false`
    + bypass_availability: `false` (bool, optional)
        Bypass next_availability check when searching for providers
        + Default: `false`
    + product_minutes: `10` (int, optional)
        Only return practitioners with products with the minute amount specified
        Not including this parameter or setting it to `0` will remove the limitation and this filter will not be applied.
        + Default: `0`
    + available_in_next_hours: `24` (int, optional)
        Only return practitioners with a "valid" availability inside this many hours. Valid as defined here means that it is not in the past and it is not None/Null. This setting does not take into account the show_when_unavailable flag in the practitioner's profile.
        Not including this parameter or setting it to `0` will remove the limitation and this filter will not be applied.
        + Default: `0`
    + availability_scope_in_days: `7` (int, optional)
        <p>
        Only return practitioners that have availabilities in the next given number of days.
        A value of 0 will not place any restriction.
        If the practitioner has `show_when_unavailable` disabled and does not have value set for `next_availability`,
        it will not be shown even with a value of 0.
        This is by design and done at a base class level.
        </p>
        This differs from available_in_next_hours in the following ways:
        1) It includes practitioners that have no future availabilities if the practitioner profile's `shown_when_unavailable` is `True`
        2) It measures days by the number of days, plus the amount of time up to, but not including, midnight of the next day.
        <p>
        This parameter was added for story 80147, which is part of the Booking Flow Parity epic and allows the front end to move off of the booking_flow endpoint.
        See the story for more details: https://app.shortcut.com/maven-clinic/story/80147/
        </p>
        + Default: `0`

+ Response 200 (application/json)

    + Body
        {
            "meta": null,
            "pagination": {
                "limit": 20,
                "order_direction": "desc",
                "total": 1,
                "offset": 0
            },
            "data": [
                {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "image_id": 1,
                    "profiles": {
                        "practitioner": {
                            "certified_states": [
                                "NY"
                            ],
                            "years_experience": 12,
                            "certifications": [
                                "RN"
                            ],
                            "categories": [
                                "breastfeeding",
                                "digestion"
                            ],
                            "verticals": [
                                "MD"
                            ],
                            "tel_number": "tel:+1-913-476-8475",
                            "cancellation_policy": "strict",
                            "agreements": {
                                "subscription": true
                            },
                            "can_prescribe": true,
                            "can_prescribe_to_member": true,
                            "rating": 4.96,
                            "is_cx": false,
                            "can_member_interact": true
                        }
                    },
                    "next_availability": "2014-6-12T12:12:12Z"
                }
            ]
        }

## Practitioner Profiles [/users/{id}/profiles/practitioner]

Profiles are where we store data like location, education history, specialties, and other data.

+ Parameters
    + id (number) - ID of the practitioner

### Get a Practitioner's Info [GET]

+ Response 200 (application/json)

        {
          "address": {
            "city": "",
            "country": "",
            "state": "",
            "street_address": "",
            "zip_code": ""
          },
          "agreements": {
            "subscription": false
          },
          "awards": "",
          "can_prescribe": false,
          "cancellation_policy": "moderate",
          "categories": [],
          "certifications": [],
          "certified_states": [],
          "education": "",
          "languages": [],
          "messaging_enabled": false,
          "next_availability": "2015-06-24T15:20:00",
          "tel_number": "tel:+1-913-476-8475",
          "tel_region": "US",
          "reference_quote": "",
          "response_time": null,
          "specialties": [],
          "state": null,
          "user_id": 2,
          "rating": 4.89,
          "vertical_objects": [
            {
              "can_prescribe": false,
              "id": 5,
              "name": "Physical Therapist"
            }
          ],
          "verticals": [
            "Physical Therapist"
          ],
          "work_experience": "",
          "years_experience": 0,
          "country": {
            "name": "United Kingdom",
            "abbr": "UK",
            "ext_info_link": "http://google.com/stuff",
            "summary": "blah blah blah..."
          },
          "is_cx": false,
          "can_member_interact": true
        }

### Edit a Practitioner's Info [PUT]

+ Request (application/json)

        {
          "certified_states": [
            "NY"
          ],
          "years_experience": 12,
          "certifications": [
            "RN"
          ],
          "categories": [
            "breastfeeding",
            "digestion"
          ],
          "verticals": [
            "Nurse Practitioner"
          ],
          "tel_number": "9134768475",
          "tel_region": "US",
          "cancellation_policy": "strict",
          "agreements": {
            "subscription": true
          },
          "can_prescribe": true
        }

+ Response 200 (application/json)

    + Body

            {
              "address": {
                "city": "",
                "country": "",
                "state": "",
                "street_address": "",
                "zip_code": ""
              },
              "agreements": {
                "subscription": true
              },
              "awards": "",
              "can_prescribe": true,
              "cancellation_policy": "strict",
              "categories": ["breastfeeding", "digestion"],
              "certifications": ["RN"],
              "certified_states": ["NY"],
              "education": "",
              "languages": [],
              "messaging_enabled": false,
              "next_availability": "2015-06-24T15:20:00",
              "tel_number": "tel:+1-913-476-8475",
              "tel_region": "US",
              "reference_quote": "",
              "response_time": null,
              "specialties": [],
              "state": null,
              "user_id": 2,
              "vertical_objects": [
                {
                  "can_prescribe": true,
                  "id": 5,
                  "name": "Nurse Practitioner"
                }
              ],
              "verticals": [
                "Nurse Practitioner"
              ],
              "work_experience": "",
              "years_experience": 12,
              "is_cx": false,
              "can_member_interact": true
            }


## Current User's Practitioner Profile [/users/profiles/practitioner]

### Get the Current User's Practitioner Info [GET]

+ Response 200 (application/json)

        {
          "address": {
            "city": "",
            "country": "",
            "state": "",
            "street_address": "",
            "zip_code": ""
          },
          "agreements": {
            "subscription": false
          },
          "awards": "",
          "can_prescribe": false,
          "cancellation_policy": "moderate",
          "categories": [],
          "certifications": [],
          "certified_states": [],
          "education": "",
          "languages": [],
          "messaging_enabled": false,
          "next_availability": "2015-06-24T15:20:00",
          "tel_number": "tel:+1-913-476-8475",
          "tel_region": "US",
          "reference_quote": "",
          "response_time": null,
          "specialties": [],
          "state": null,
          "user_id": 2,
          "rating": 4.89,
          "vertical_objects": [
            {
              "can_prescribe": false,
              "id": 5,
              "name": "Physical Therapist"
            }
          ],
          "verticals": [
            "Physical Therapist"
          ],
          "work_experience": "",
          "years_experience": 0,
          "country": {
            "name": "United Kingdom",
            "abbr": "UK",
            "ext_info_link": "http://google.com/stuff",
            "summary": "blah blah blah..."
          },
          "is_cx": false,
          "can_member_interact": true
        }


### Enable Messaging [PUT]

+ Request (application/json)

        {"messaging_enabled": true}

+ Response 200 (application/json)

    + Body

            {
              "address": {
                "city": "",
                "country": "",
                "state": "",
                "street_address": "",
                "zip_code": ""
              },
              "agreements": {
                "subscription": false
              },
              "awards": "",
              "can_prescribe": false,
              "cancellation_policy": "moderate",
              "categories": [],
              "certifications": [],
              "certified_states": [],
              "education": "",
              "is_cx": false,
              "languages": [],
              "messaging_enabled": true,
              "next_availability": "2015-06-24T15:20:00",
              "tel_number": "tel:+1-913-476-8475",
              "tel_region": "US",
              "reference_quote": "",
              "response_time": 24,
              "specialties": [],
              "state": null,
              "user_id": 2,
              "vertical_objects": [
                {
                  "can_prescribe": false,
                  "id": 5,
                  "name": "Physical Therapist"
                }
              ],
              "verticals": [
                "Physical Therapist"
              ],
              "work_experience": "",
              "years_experience": 0,
              "can_member_interact": true
            }


### Disable Messaging [DELETE]

+ Request (application/json)

        {"messaging_enabled": false}

+ Response 200 (application/json)

    + Body

            {
              "address": {
                "city": "",
                "country": "",
                "state": "",
                "street_address": "",
                "zip_code": ""
              },
              "agreements": {
                "subscription": false
              },
              "awards": "",
              "can_prescribe": false,
              "cancellation_policy": "moderate",
              "categories": [],
              "certifications": [],
              "certified_states": [],
              "education": "",
              "is_cx": false,
              "languages": [],
              "messaging_enabled": false,
              "next_availability": "2015-06-24T15:20:00",
              "tel_number": "tel:+1-913-476-8475",
              "tel_region": "US",
              "reference_quote": "",
              "response_time": null,
              "specialties": [],
              "state": null,
              "user_id": 2,
              "vertical_objects": [
                {
                  "can_prescribe": false,
                  "id": 5,
                  "name": "Physical Therapist"
                }
              ],
              "verticals": [
                "Physical Therapist"
              ],
              "work_experience": "",
              "years_experience": 0,
              "can_member_interact": true
            }

### Set Guarantee Response Time [PUT]

+ Request (application/json)

        {"response_time": 12}

+ Response 200 (application/json)

    + Body

            {
              "address": {
                "city": "",
                "country": "",
                "state": "",
                "street_address": "",
                "zip_code": ""
              },
              "agreements": {
                "subscription": false
              },
              "awards": "",
              "can_prescribe": false,
              "cancellation_policy": "moderate",
              "categories": [],
              "certifications": [],
              "certified_states": [],
              "education": "",
              "is_cx": false,
              "languages": [],
              "messaging_enabled": true,
              "next_availability": "2015-06-24T15:20:00",
              "tel_number": "tel:+1-913-476-8475",
              "tel_region": "US",
              "reference_quote": "",
              "response_time": 12,
              "specialties": [],
              "state": null,
              "user_id": 2,
              "vertical_objects": [
                {
                  "can_prescribe": false,
                  "id": 5,
                  "name": "Physical Therapist"
                }
              ],
              "verticals": [
                "Physical Therapist"
              ],
              "work_experience": "",
              "years_experience": 10,
              "can_member_interact": true
            }


## Practitioner Prescription Errors [/prescriptions/errors/{practitioner_id}]

These are refill requests and transmission errors which require the practitioners attention. The counts need to be displayed in our UI, and should be refreshed every 15 mins when the practitioner is in the app/site.

### Get the URL to Enter dosespot and Handle These Errors [GET]

+ Parameters
    + practitioner_id (number) - User ID of the practitioner

+ Response 200 (application/json)

    + Body

            {
                "refill_count": 1,
                "transaction_count": 1,
                "url": "https://dosespot.com/dealwitherrorssurl"
            }


## Practitioner Notes [/users/{id}/notes]

These are post session notes from practitioners with whom the given user has had appointment(s) with previously.

### Get all practitioner notes for the user [GET]

+ Parameters
    + id (number) - User ID with whom the notes are pertaining to

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "scheduled_start": "2015-06-12T21:09:38",
                        "id": 997947650,
                        "post_session": {
                            "notes": "12345",
                            "created_at": "2015-06-12T20:23:00"
                        },
                        "product": {
                            "id": 37,
                            "minutes": 7,
                            "practitioner": {
                                "avatar_url": "https://img-res.mavenclinic.com/qk0QbQkDcrq4jbtBvx1WLuROe3s=/500x500/smart/https://storage.googleapis.com/maven-dev-images/95038a62-9da6-4c5a-9108-7e920aeebfaa",
                                "email": null,
                                "encoded_id": "MS5DeDM5bUEuWGxTRzN1NWVaeUE4azJZRnpZTUhpUWt2cHo0",
                                "test_group": "a",
                                "first_name": "Zach",
                                "id": 1,
                                "image_id": 1,
                                "image_url": "https://img-res.mavenclinic.com/qk0QbQkDcrq4jbtBvx1WLuROe3s=/500x500/smart/https://storage.googleapis.com/maven-dev-images/95038a62-9da6-4c5a-9108-7e920aeebfaa",
                                "last_name": "Zaro",
                                "middle_name": "E",
                                "name": "Zach Zaro",
                                "organization": null,
                                "profiles": {
                                    "member": {},
                                    "practitioner": {
                                        "awards": "None",
                                        "can_prescribe": true,
                                        "cancellation_policy": "moderate",
                                        "categories": [],
                                        "certifications": [],
                                        "certified_states": [],
                                        "education": "",
                                        "is_cx": false,
                                        "languages": [],
                                        "messaging_enabled": true,
                                        "next_availability": null,
                                        "rating": null,
                                        "reference_quote": "",
                                        "response_time": 24,
                                        "specialties": [],
                                        "user_id": 1,
                                        "vertical_objects": [
                                            {
                                                "can_prescribe": false,
                                                "id": 6,
                                                "name": "Physical Therapist"
                                            }
                                        ],
                                        "verticals": [
                                            "Physical Therapist"
                                        ],
                                        "work_experience": "None",
                                        "years_experience": 12,
                                        "can_member_interact": true
                                    }
                                },
                                "role": "practitioner",
                                "subscription_plans": null,
                                "username": "zach"
                            },
                            "price": "25.00"
                        }
                    },
                    {
                        "scheduled_start": "2015-03-12T15:25:31",
                        "id": 997948129,
                        "post_session": {
                            "notes": "2 min and 30 s",
                            "created_at": "2015-03-12T20:23:00"
                        },
                        "product": {
                            "id": 47,
                            "minutes": 10,
                            "practitioner": {
                                "avatar_url": "https://img-res.mavenclinic.com/Wa0-jLWTTxzhJyDF6Gp8hndiYDI=/500x500/smart/https://storage.googleapis.com/maven-dev-images/bb5e10c1-c7eb-4c87-9eb9-7b42febb4499",
                                "email": null,
                                "encoded_id": "NjkuQ3g0QVF3LmEwWUh2LVhIVVo0dWdrOHc5a0o1R0x6SWk2OA",
                                "test_group": "a",
                                "first_name": "Lucy",
                                "id": 69,
                                "image_id": 8,
                                "image_url": "https://img-res.mavenclinic.com/Wa0-jLWTTxzhJyDF6Gp8hndiYDI=/500x500/smart/https://storage.googleapis.com/maven-dev-images/bb5e10c1-c7eb-4c87-9eb9-7b42febb4499",
                                "last_name": "Ricardo",
                                "middle_name": "",
                                "name": "Lucy Ricardo",
                                "organization": null,
                                "profiles": {
                                    "member": {},
                                    "practitioner": {
                                        "awards": "",
                                        "can_prescribe": false,
                                        "cancellation_policy": "moderate",
                                        "categories": [],
                                        "certifications": [
                                            "MSN",
                                            "NP"
                                        ],
                                        "certified_states": [],
                                        "education": "SUNY Albany,Adelphi University",
                                        "is_cx": false,
                                        "languages": [],
                                        "messaging_enabled": true,
                                        "next_availability": null,
                                        "rating": null,
                                        "reference_quote": "",
                                        "response_time": null,
                                        "specialties": [
                                            "Allergies",
                                            "Diabetes",
                                            "Digestive health",
                                            "Emotional well-being"
                                        ],
                                        "user_id": 69,
                                        "vertical_objects": [
                                            {
                                                "can_prescribe": false,
                                                "id": 6,
                                                "name": "Physical Therapist"
                                            }
                                        ],
                                        "verticals": [
                                            "Physical Therapist"
                                        ],
                                        "work_experience": "Grace Family Medical Practice,Flatbush Family Practice",
                                        "years_experience": 17,
                                        "can_member_interact": true
                                    }
                                },
                                "role": "practitioner",
                                "subscription_plans": null,
                                "username": "Students5"
                            },
                            "price": "18.00"
                        }
                    },
                    {
                        "scheduled_start": "2015-03-07T05:33:45",
                        "id": 997948107,
                        "post_session": {
                            "notes": "76 dfg x x sds sd  test teddd",
                            "created_at": "2015-03-07T20:23:00"
                        },
                        "product": {
                            "id": 9,
                            "minutes": 10,
                            "practitioner": {
                                "avatar_url": "https://img-res.mavenclinic.com/rlwf1vejk7v4HMn2YQvif6JHtEw=/500x500/smart/https://storage.googleapis.com/maven-dev-images/9803612d-1cb3-4a43-bacb-5fb27c2c4e80",
                                "email": null,
                                "encoded_id": "MTMuQ3g0QWJRLkZlZl9jTDdVTVdmc3ktUnFIRHZOLUJuaXNOQQ",
                                "test_group": "a",
                                "first_name": "test4",
                                "id": 13,
                                "image_id": 16,
                                "image_url": "https://img-res.mavenclinic.com/rlwf1vejk7v4HMn2YQvif6JHtEw=/500x500/smart/https://storage.googleapis.com/maven-dev-images/9803612d-1cb3-4a43-bacb-5fb27c2c4e80",
                                "last_name": "Midwife",
                                "middle_name": "Gh",
                                "name": "test4 Midwife",
                                "organization": null,
                                "profiles": {
                                    "member": {},
                                    "practitioner": {
                                        "awards": "",
                                        "can_prescribe": true,
                                        "cancellation_policy": "moderate",
                                        "categories": [],
                                        "certifications": [
                                            "ANP",
                                            "BA",
                                            "CAPPA",
                                            "CBS",
                                            "CLC",
                                            "CLS",
                                            "CM",
                                            "CN",
                                            "CNS",
                                            "CPD",
                                            "DNP"
                                        ],
                                        "certified_states": [
                                            "NJ",
                                            "NY"
                                        ],
                                        "education": "",
                                        "is_cx": false,
                                        "languages": [],
                                        "messaging_enabled": true,
                                        "next_availability": "2016-11-14T20:40:00",
                                        "rating": null,
                                        "reference_quote": "Great Stuff",
                                        "response_time": null,
                                        "specialties": [
                                            "Allergies",
                                            "Breastfeeding management",
                                            "Breathing techniques",
                                            "Chronic pain management",
                                            "Disease prevention"
                                        ],
                                        "user_id": 13,
                                        "vertical_objects": [
                                            {
                                                "can_prescribe": true,
                                                "id": 7,
                                                "name": "Nurse Practitioner"
                                            }
                                        ],
                                        "verticals": [
                                            "Nurse Practitioner"
                                        ],
                                        "work_experience": "Loads...",
                                        "years_experience": 98,
                                        "can_member_interact": true
                                    }
                                },
                                "role": "practitioner",
                                "subscription_plans": null,
                                "username": "test4"
                            },
                            "price": "20.00"
                        }
                    }
                ],
                "meta": null,
                "pagination": {
                    "limit": 10,
                    "offset": 0,
                    "order_direction": "desc",
                    "total": 3
                }
            }

## Patient Search [/users/{id}/my_patients{?first_name,last_name,limit,offset}]

+ Parameters
    + id - id of the practitioner with whom the patient search is for.
    + first_name - search patient first name that contains this string
    + last_name - search patient last name that contains this string

This API endpoint provides a way for practitioners to search and find their past and present patients. Patients are ordered by their first name's ascending order.

### Get My Patients [GET]

+ Response 200 (application/json)

    + Body

            {
              "pagination": {
                "total": 1,
                "offset": 0,
                "limit": 10,
                "order_direction": "desc"
              },
              "meta": null,
              "data": [
                {
                  "encoded_id": null,
                  "test_group": "a",
                  "middle_name": "",
                  "email": null,
                  "care_coordinators": [],
                  "username": "",
                  "profiles": {
                    "member": {
                      "color_hex": ""
                    }
                  },
                  "id": 1,
                  "avatar_url": "",
                  "role": "member",
                  "name": "Jane1 Smith1",
                  "subscription_plans": null,
                  "image_url": null,
                  "organization": null,
                  "image_id": 0,
                  "last_name": "Smith1",
                  "first_name": "Jane1",
                  "country": {
                    "name": "United Kingdom",
                    "abbr": "UK",
                    "ext_info_link": "http://google.com/stuff",
                    "summary": "blah blah blah..."
                  }
                }
              ]
            }

## Member Profiles [/users/{id}/profiles/member]

+ Parameters
    + id - id of the user

Member profiles store phone numbers, states and some user specific settings like opt-in for post session notes sharing. Phone numbers will be parsed and normalized according to RFC3966. For phone number region use CLDR two-letter region-codes. For states use the standard 2 letter abbreviations, uppercased.


### Get a Member's Info [GET]

+ Response 200 (application/json)

    + Body

            {
                "address": {
                    "city": "New York",
                    "country": "US",
                    "state": "NY",
                    "street_address": "123 Main st",
                    "zip_code": "10002"
                },
                "tel_number": "tel:+1-510-555-5555",
                "tel_region": "US",
                "state": "NY",
                "color_hex": "#313694;",
                "user_flags": [
                    {
                        "id": 1
                    }, {
                        "id": 2
                    }
                ]
            }

### Edit a Member's Info [PUT]

+ Request (application/json)

        {
            "state": "NJ",
            "tel_number": "9134768475"
            "opted_in_notes_sharing": false,
            "color_hex": "#313694;"
        }

+ Response 200 (application/json)

    + Body

            {
                "state": "NJ",
                "tel_number": "tel:+1-913-476-8475",
                "tel_region": "US",
                "opted_in_notes_sharing": false,
                "color_hex": "#313694;"
            }

## Current User's Member Profile [/users/profiles/member]

### Get the Current User's Member Info [GET]

+ Response 200 (application/json)

    + Body

            {
                "address": {
                    "city": "New York",
                    "country": "US",
                    "state": "NY",
                    "street_address": "123 Main st",
                    "zip_code": "10002"
                },
                "tel_number": "tel:+1-510-555-5555",
                "tel_region": "US",
                "state": "NY",
                "color_hex": "#313694;",
                "user_flags": [
                    {
                        "id": 1
                    }, {
                        "id": 2
                    }
                ]
            }

## API Key [/api_key]

### Get One API Key [POST]

A user's API Key can be acquired using the correct email/password combination.

+ Request (application/json)

        {
            "email": "jane@example.com",
            "password": "badpasssword",
        }


+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "api_key": "72d466d-2cdf-4e5c-b0ea-2ef4f8616651"
            }


### Attribute Device [POST]

Should be called once per app open for a logged in user (or right after login for a non-logged in user).

+ Request (application/json)

        {
            "apple_ifa": "foobar"
        }

+ Response 204


## Password Reset [/users/{email}/password_reset]

+ Parameters
    + email - the email of the user where reset password link is going to be sent to.

### Request Reset Password Link via E-Mail for a User [GET]

If the email address represents a valid user, an email with a link containing a reset password token will be sent to that email address.

+ Response 204

### Change Password [POST]

If the email address represents a valid user, an email with a link containing a reset password token will be sent to that email address.

+ Request

        {
            "token": "lfjdsafsdf",
            "password": "newpasssword"
        }

+ Response 204

## Confirm Email [/users/{email}/email_confirm{?token}]

### Confirm E-Mail address for a User [GET]

A token needs to be sent to us to confirm that the E-Mail address is valid.

+ Parameters
    + email - the email of the user to be confirmed.
    + token (required, str) ... The server-generated token needs to be in the URL

+ Response 204


## User Setup [/users/{id}/setup]

This endpoint is used to set a user’s email and password as the first step in SAML
onboarding on the account set up page.

+ Parameters
    + id - the id of the user

### Set email and password for a User [PUT]

+ Request (application/json)

        {
            "email": "personal@test.com",
            "password": "desired_password"
        }

+ Response 204


## Onboarding State [/users/{id}/onboarding_state]

The **Onboarding State API** allows clients to get or alter the onboarding state of a user

+ Parameters
    + id - the id of the user

### Get the Onboarding State [GET]

+ Response 200 (application/json)

        {
            "onboarding_state": "some_state"
        }

### Add an Onboarding State [POST]

+ Response 201 (application/json)

        {
            "onboarding_state": "new_state"
        }

### Update an Onboarding State [PUT]

+ Request (application/json)

        {
            "onboarding_state": "new_state"
        }

+ Response 200 (application/json)

        {
            "onboarding_state": "new_state"
        }

## User Devices [/users/{id}/devices]

The **User Devices API** allows clients to register new devices for the Maven platform to receive push notifications.

+ Parameters
    + id - the id of the user

### Add a New Device [POST]

+ Request (application/json)

        {'device_token': 'foobarbaz'}

+ Response 201 (application/json)

        {
            'device_token': 'foobarbaz',
            'id': 1
        }


## User Settings [/users/{id}/settings]

The **User Settings API** allows you get information about a user's settings (for example notification preferences). POST and DELETE are not allowed, because each user has one and only one settings object associated with their user account on Maven.

+ Model

    A JSON Representation of a User's Settings.

    + Body

            {
                "user_id": 10,
                "notifications": [{"session_pre_reminder": {"push": {"enabled": true,
                                                                     "time_offset": 15},
                                                            "email": {"enabled": false,
                                                                      "time_offset": null},,
                                                            "SMS": {"enabled": true,
                                                                    "time_offset": 1}}
                                  }],
                "privacy": "BASIC",
            }

### Get User Settings Information [GET]

A user's settings JSON

+ Response 200 (application/json)

    [User Settings][]

### Edit User Settings Information [PUT]

A user's settings JSON

+ Request (application/json)

        {
            "user_id": 10,
            "notifications": [{"session_pre_reminder": {"push": {"enabled": false,
                                                                    "time_offset": 15},
                                                        "email": {"enabled": false,
                                                                    "time_offset": null},,
                                                        "SMS": {"enabled": true,
                                                                "time_offset": 1}}
                                }],
            "privacy": "BASIC",
        }

+ Response 200 (application/json)

    + Body

            {
                "user_id": 10,
                "notifications": [{"session_pre_reminder": {"push": {"enabled": false,
                                                                        "time_offset": 15},
                                                            "email": {"enabled": false,
                                                                        "time_offset": null},,
                                                            "SMS": {"enabled": true,
                                                                    "time_offset": 1}}
                                    }],
                "privacy": "BASIC",
            }


## User Needs Assessments [/users/{user_id}/assessments]

This API endpoint allows retrieving and creating of all needs assessment questionnaires for the given enterprise user.
For more information about assessment templates, please see [Assessments](#assessment)

### Get User Assessment Questions [GET /users/{user_id}/assessments{?type,version,appointment_id}]

+ Parameters
    + user_id (required, number) - User ID
    + type(optional, string) - The type of user assessment, `PREGNANCY` or `POSTPARTUM`.
    + version(optional, string) - The version of the assessment object
    + appointment_id(optional, number) - The associated appointment's ID, obfuscated.
    + assessment_id (optional, number) - The ID of Assessment(assessment template).

+ Response 200 (application/json)

    + Body

            {
              "pagination": {
                "offset": 0,
                "total": 1,
                "limit": 10,
                "order_direction": "desc"
              },
              "meta": null,
              "data": [
                {
                  "answers": [
                    {
                      "id": 18,
                      "body": "1"
                    },
                    {
                      "id": 17,
                      "body": "someday"
                    },
                    {
                      "id": 16,
                      "body": "no"
                    },
                    {
                      "id": 15,
                      "body": {
                        "first_name": "Doc",
                        "last_name": "Who",
                        "email": "test@test.com"
                      }
                    },
                    {
                      "id": 13,
                      "body": "yes"
                    },
                    {
                      "id": 12,
                      "body": "yes"
                    },
                    {
                      "id": 11,
                      "body": "both"
                    },
                    {
                      "id": 9,
                      "body": "yes"
                    },
                    {
                      "id": 8,
                      "body": "2"
                    },
                    {
                      "id": 7,
                      "body": "reasons"
                    },
                    {
                      "id": 5,
                      "body": "yes"
                    },
                    {
                      "id": 4,
                      "body": "c-section"
                    },
                    {
                      "id": 3,
                      "body": "a due day"
                    },
                    {
                      "id": 2,
                      "body": "birth"
                    },
                    {
                      "id": 1,
                      "body": "on a day"
                    }
                  ],
                  "meta": {
                    "completed": false
                  }
                }
              ]
            }


### Submit User Assessment Answers [POST /users/{user_id}/assessments]

Except `user_id`, all other URI parameters specified below should be supplied in the `Assessment Object`'s meta attribute in the POST request payload.
In the response json, ".meta.id" refers to the ID of Needs Assessment object, which is this endpoint all about.

+ Parameters
    + user_id (required, number) - User ID
    + type(optional, string) - The type of user assessment, `PREGNANCY` or `POSTPARTUM`.
    + version(optional, string) - The version of the assessment object
    + appointment_id(optional, number) - The associated obfuscated appointment ID.
    + assessment_id(optional, number) - The ID of Assessment(assessment template).
      Either assessment_id or type & version need to be provided, not both.

+ Request Assessment Object (application/json)

        {
          "answers": [
            {
              "id": 18,
              "body": "1"
            },
            {
              "id": 17,
              "body": "someday"
            },
            {
              "id": 16,
              "body": "no"
            },
            {
              "id": 15,
              "body": {
                "first_name": "Doc",
                "last_name": "Who",
                "email": "test@teset.com"
              }
            },
            {
              "id": 5,
              "body": "yes"
            },
            {
              "id": 4,
              "body": "c-section"
            },
            {
              "id": 3,
              "body": "a due day"
            },
            {
              "id": 2,
              "body": "birth"
            },
            {
              "id": 1,
              "body": "on a day"
            }
          ],
          "meta": {
            "completed": true,
            "type": "PREGNANCY",
            "version": "1",
            "assessment_id": 1,
            "appointment_id": "997948328"
          }
        }


+ Response 201 (application/json)

    + Body

        {
          "answers": [
            {
              "id": 18,
              "body": "1"
            },
            {
              "id": 17,
              "body": "someday"
            },
            {
              "id": 16,
              "body": "no"
            },
            {
              "id": 15,
              "body": {
                "first_name": "Doc",
                "last_name": "Who",
                "email": "test@teset.com"
              }
            },
            {
              "id": 5,
              "body": "yes"
            },
            {
              "id": 4,
              "body": "c-section"
            },
            {
              "id": 3,
              "body": "a due day"
            },
            {
              "id": 2,
              "body": "birth"
            },
            {
              "id": 1,
              "body": "on a day"
            }
          ],
          "meta": {
            "completed": true,
            "type": "PREGNANCY",
            "version": "1",
            "assessment_id": 1,
            "appointment_id": "997948328"
          }
        }


## User Needs Assessment [/users/{user_id}/assessments/{needs_assessment_id}]

This API endpoint allow an existing needs assessment's answers for the given enterprise user to be fetched or modified.

+ Parameters
    + user_id (required, number) - User ID
    + needs_assessment_id (required, number) - The ID for the need assessment.

### Fetch a Needs Assessment by ID [GET]

+ Response 200

    + Body

            {
              "answers": [
                {
                  "id": 18,
                  "body": "1"
                },
                {
                  "id": 17,
                  "body": "someday"
                },
                {
                  "id": 16,
                  "body": "no"
                },
                {
                  "id": 15,
                  "body": {
                    "first_name": "Doc",
                    "last_name": "Who",
                    "email": "test@teset.com"
                  }
                },
                {
                  "id": 5,
                  "body": "yes"
                },
                {
                  "id": 4,
                  "body": "c-section"
                },
                {
                  "id": 3,
                  "body": "a due day"
                },
                {
                  "id": 2,
                  "body": "birth"
                },
                {
                  "id": 1,
                  "body": "on a day"
                }
              ],
              "meta": {
                "completed": false,
                "type": "POSTPARTUM",
                "version": "1"
              }
            }

### Modify a Needs Assessment [PUT]

+ Request Assessment Object (application/json)

        {
          "answers": [
            {
              "id": 18,
              "body": "1"
            },
            {
              "id": 17,
              "body": "someday"
            },
            {
              "id": 16,
              "body": "no"
            },
            {
              "id": 15,
              "body": {
                "first_name": "Doc",
                "last_name": "Who",
                "email": "test@teset.com"
              }
            },
            {
              "id": 5,
              "body": "yes"
            },
            {
              "id": 4,
              "body": "c-section"
            },
            {
              "id": 3,
              "body": "a due day"
            },
            {
              "id": 2,
              "body": "birth"
            },
            {
              "id": 1,
              "body": "on a day"
            }
          ],
          "meta": {
            "completed": false,
            "type": "POSTPARTUM",
            "version": "1"
          }
        }


+ Response 200

    + Body

            {
              "answers": [
                {
                  "id": 18,
                  "body": "1"
                },
                {
                  "id": 17,
                  "body": "someday"
                },
                {
                  "id": 16,
                  "body": "no"
                },
                {
                  "id": 15,
                  "body": {
                    "first_name": "Doc",
                    "last_name": "Who",
                    "email": "test@teset.com"
                  }
                },
                {
                  "id": 5,
                  "body": "yes"
                },
                {
                  "id": 4,
                  "body": "c-section"
                },
                {
                  "id": 3,
                  "body": "a due day"
                },
                {
                  "id": 2,
                  "body": "birth"
                },
                {
                  "id": 1,
                  "body": "on a day"
                }
              ],
              "meta": {
                "completed": false,
                "type": "POSTPARTUM",
                "version": "1"
              }
            }

## Assessment Answers [/users/{user_id}/assessments/assessment_answers]

### Get Assessment Answers [GET /users/{user_id}/assessments/assessment_answers?assessment_lifecycle_type={type}]

This API endpoint retrieves a user's latest answers to an assessment of the given assessment lifecycle type, but in an exported format (the same format used when exporting them to BigQuery).  If the assessment does not have export logic defined in the `quiz_body`, it will return an empty array.

+ Parameters
    + user_id (required, number) - User ID
    + assessment_id (optional, number) - Assessment ID
    + assessment_lifecycle_name (optional, string) - The `type` of the assessment lifecycle. If no type is given, the response will return all answers for all types.

### Fetch a Needs Assessment by ID [GET]

+ Response 200

    + Body

            [
              {
                  "assessment_id": 1,
                  "assessment_lifecycle_type": "PREGNANCY_ONBOARDING",
                  "question_name": "bmi_flag",
                  "question_id": 1,
                  "raw_answer": {"height": 0, "weight": 0}
                  "body": false,
                  "modified_at": 2020-12-01T05:00:01,
              },
              {
                  "assessment_id": 1,
                  "assessment_lifecycle_type": "PREGNANCY_ONBOARDING",
                  "question_name": "birth_preference",
                  "question_id": 2,
                  "raw_answer": "c-section",
                  "body": "c-section"
                  "modified_at": 2020-12-01T05:00:01,
              }
            ]


## User File Attachments [/users/{id}/files{?type,appointment_id}]

This endpoint allows appointment file attachments for a given user can be uploaded and retrieved later on.
Except `id`, all the rest of the URI parameters are to be encoded in multi-part form data in the POST payload as shown in the request below.

+ Parameters
    + id (required, number) - User ID. For `BIRTH_PLAN` appointments, this is the member id.
    + type (optional, string) - Type of the attachment, `BIRTH_PLAN` and so on.
    + appointment_id (optional, number) - The id of the appointment where the file is attached to.

### Upload a File [POST /users/{id}/files]

+ Request (multipart/form-data)

        Content-Type: multipart/form-data; boundary=45eab7247d134ca382c9b13022a3ee9c

        --45eab7247d134ca382c9b13022a3ee9c
        Content-Disposition: form-data; name="type"

        BIRTH_PLAN
        --45eab7247d134ca382c9b13022a3ee9c
        Content-Disposition: form-data; name="appointment_id"

        997948358
        --45eab7247d134ca382c9b13022a3ee9c
        Content-Disposition: form-data; name="BIRTH_PLAN"; filename="birth_plan.pdf"

        +-----------------------------------------+
        | NOTE: binary data not shown in terminal |
        +-----------------------------------------+
        ----45eab7247d134ca382c9b13022a3ee9c--

+ Response 201

    + Body

            {
                "id": 1,
                "type": "BIRTH_PLAN",
                "content_type": "application/pdf",
                "signed_url": "https://storage.googleapis.com/cdd7f711-70c5-48bd-b607-c130541ffc60/d22c51ce-181d-4879-a128-71732b931542?GoogleAccessId=service_account@maven.com&Expires=1483565640&Signature=%3C%B2%F9mb%AD%C0%98c%86%3A3%97%F6I%D9%0AsH%3F8%24%EF%CC%DD%21"
            }

### Retrieve Files [GET]

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "content_type": "application/pdf",
                        "id": 4,
                        "signed_url": "https://storage.googleapis.com/test-bp-aaaa-bbbb-cc-dddddd/9eb1c70b-38c2-4131-8732-ff40ae5832e6?GoogleAccessId=ye-dev-cloud-storage%40maven-clinic-ye-dev.iam.gserviceaccount.com&Expires=1484331631&response-content-type=application%2Fpdf&response-content-disposition=attachment%3B+filename%3DMAVEN_BIRTH_PLAN.pdf&Signature=TgYUBpra5kDW%2B5iRE%2BDCdmgmVtjqk1r9VOdJ5eYj1b0KYuyLlTc5hVAQpcX2VUcD56SRI67FlmGxAkMZkGNr54a6AOaL%2FlwOy%2FkgFQqG5MhzhDS0LQRAoBtLsQmsNMhgcM%2F%2FVqk1eUzPkEYnxdjFYnMxu01lWPgwqilWwoZJeUcnMeMza2E6OJItzsM4aKjGGazyZGPWCBE6oUofFijVYl%2B2u2KDLyQneEJsj3IugYC1rppL5XCuTFBkrMO2ZVTVDVtxNnMLb%2FbgxN4Pm9wx1NL0GaJNrPoSdRTJohU7F11pJ8rIj4b9k%2Fn9Uvzv1ldPD38VddCegg4JIh%2Bjup4Cog%3D%3D",
                        "type": "BIRTH_PLAN"
                    },
                    {
                        "content_type": "application/pdf",
                        "id": 3,
                        "signed_url": "https://storage.googleapis.com/test-bp-aaaa-bbbb-cc-dddddd/9e565bd1-0a15-4abc-a052-fc969c116c0f?GoogleAccessId=ye-dev-cloud-storage%40maven-clinic-ye-dev.iam.gserviceaccount.com&Expires=1484331632&response-content-type=application%2Fpdf&response-content-disposition=attachment%3B+filename%3DMAVEN_BIRTH_PLAN.pdf&Signature=izx%2BXjzqaCklW485pULDTOf09EP4zrE34%2F0hKg1saVXbT3uaMw6FxBIk3iArH%2FcnQy5GAe8zmqv6Piq4PkyrgqVL2u0RGaY6aKtPiJlQ1F%2Bp3pBRKx%2FmZBSUjksHAQROM7LQVkJFxqBiY12H5FV2nWdWzoE5E56Z80AFp%2BmGOBmDbV185zEfpQBQhJ4Da5X7zKvRKOrbjc8amO8Gm6RzS5Gjj%2BisIiMVMrh%2FJuZGa8OJLLqSPvJk3ZjNYGluYN0KqzLGsQNCG1s7FH7KzZA9M2hVzz2nz6lxG3yqeeSXj8i7lebSot5gmpjuY3K2Zo2Q3O7GjCKFJOyNh%2BjyK%2FpKWA%3D%3D",
                        "type": "BIRTH_PLAN"
                    },
                    {
                        "content_type": "application/pdf",
                        "id": 2,
                        "signed_url": "https://storage.googleapis.com/test-bp-aaaa-bbbb-cc-dddddd/b9564b77-61f8-4f33-9442-f4cd8d5a1dce?GoogleAccessId=ye-dev-cloud-storage%40maven-clinic-ye-dev.iam.gserviceaccount.com&Expires=1484331632&response-content-type=application%2Fpdf&response-content-disposition=attachment%3B+filename%3DMAVEN_BIRTH_PLAN.pdf&Signature=li8EkCalCHrYS4d4TAaNo4sONUnDzeINCRrvyQ3QL%2B%2FEJqxNA%2FbQu4YFtUDK95Ip4bIM21fi4HTIyH7ce01509eH3HsgUIsmT9ZAfAG5AhOTd1WwFiv%2BNW%2FIynkJ%2BMitPer02%2B9I5L5DCJHQuCq%2F8Us86F%2BdlZ4ySxfz80y6u4WIaTUQ3YYBjnEgrNkNNC8RTd3yXqsGeQ3hRwlhletM2IH4NYDrfsOjxRPnPZbLVqwM6salRo6CR%2F1Ooue4F%2B1sg0PtPXWruuGUhNayFYkb1rLlMgisKms8QABjLI5AXoGb3EU1EpvIfix0gsEnJ9m5l%2Bt1ALSJGZ6HsR88uVwpsQ%3D%3D",
                        "type": "BIRTH_PLAN"
                    },
                    {
                        "content_type": "application/pdf",
                        "id": 1,
                        "signed_url": "https://storage.googleapis.com/test-bp-aaaa-bbbb-cc-dddddd/fff756f4-0d9e-418b-bfca-76b8ae654cd4?GoogleAccessId=ye-dev-cloud-storage%40maven-clinic-ye-dev.iam.gserviceaccount.com&Expires=1484331633&response-content-type=application%2Fpdf&response-content-disposition=attachment%3B+filename%3DMAVEN_BIRTH_PLAN.pdf&Signature=aKuGa7WZl6r9S6hHNp6b0wbUU3%2FafKqVtthmWDjnKhEVH4WiycI0qw1g6E6WkYCx54fJlkHyrljCxnVGn2s92hbYlNYHcdbTB7dnG%2FaL17MuuE8LqV%2Fo6De3n6suXcD2%2BbGxRE0NhQw64NcPl9Sti3R51Vz3ZE8BfGjq1UzL1wUIxl%2F7ALjSoHMX1FErCG0cDiAZU225bpxEH4tQzwZl2n0keGv%2FXfKOK9B0R0Pu8vvvGo0kfNmFXb5hwiSnuUKFVBdT1NUf2murQ5H6vnHDyVXcV9r4YaGviwNF1YN3HiViXWr4I%2Fv2L8%2FiaYWlmB9OSpoLW%2B%2FOgTcOhtgnAq4uTw%3D%3D",
                        "type": "BIRTH_PLAN"
                    }
                ],
                "meta": null,
                "pagination": {
                    "limit": 10,
                    "offset": 0,
                    "order_direction": "desc",
                    "total": 4
                }
            }

## Patient Profile [/users/{id}/patient_profile]

This endpoint allows access to member's patient profile.  Currently this consists of pharmacy info.

Practitioners may retrieve patient profiles.  A member may only retrieve their own patient profile.
A 404 will be returned if a member tries to retrieve another member's patient profile, or if the
given member id is invalid.

### Retrieve Patient Profile [GET]

+ Parameters
    + id (required, integer) - Member id.

+ Response 200 (application/json)

    + Body

        {
            "user_id": 1,
            "pharmacy_id": "1",
            "pharmacy_info": {
                "Address1": "999 999th St",
                "Address2": None,
                "City": "NEW YORK",
                "Pharmacy": None,
                "PharmacyId": "1",
                "PrimaryFax": "555-555-5555",
                "PrimaryPhone": "555-555-5556",
                "PrimaryPhoneType": "Work",
                "State": "NY",
                "StoreName": "999 Pharmacy",
                "ZipCode": "10027"
            }
        }

+ Response 404 (application/json)

    + Body

      {
        "message": "Cannot access patient profile"
      }


### Update Patient Profile [PATCH]

+ Parameters
    + id (required, integer) - Member id.
    + pharmacy_id (optional, string)
    + pharmacy_info (optional, json) - Address and contact info for pharmacy.

+ Request (application/json)

    {
        "user_id": 1,
        "pharmacy_id": "1",
        "pharmacy_info": {
            "Address1": "999 999th St",
            "Address2": None,
            "City": "NEW YORK",
            "Pharmacy": None,
            "PharmacyId": "1",
            "PrimaryFax": "555-555-5555",
            "PrimaryPhone": "555-555-5556",
            "PrimaryPhoneType": "Work",
            "State": "NY",
            "StoreName": "999 Pharmacy",
            "ZipCode": "10027"
        }
    }

+ Response 200 (application/json)

    + Body

      {
        "user_id": 1,
        "pharmacy_id": "1",
        "pharmacy_info": {
            "Address1": "999 999th St",
            "Address2": None,
            "City": "NEW YORK",
            "Pharmacy": None,
            "PharmacyId": "1",
            "PrimaryFax": "555-555-5555",
            "PrimaryPhone": "555-555-5556",
            "PrimaryPhoneType": "Work",
            "State": "NY",
            "StoreName": "999 Pharmacy",
            "ZipCode": "10027"
        }
      }

+ Response 404 (application/json)

    + Body

      {
        "message": "Cannot access patient profile"
      }

### Pharmacy Search [/pharmacy_search?zip_code={zip_code}]

Non-RESTful endpoint returning a list of pharmacies retrieved from DoseSpot.

+ Parameters
    + zip_code (required, string) Zip code around which to retrieve pharmacies.

+ Response 200 (application/json)

    + Body

        {"data": [{"Pharmacy": null,
         "State": "DC",
         "PrimaryPhoneType": "Work",
         "Address1": "90001 1ST ST",
         "PrimaryFax": "2025551213",
         "PharmacyId": "1",
         "ZipCode": "20000",
         "PrimaryPhone": "2025551212",
         "StoreName": "Test One Pharmacy",
         "Address2": "1ST FL",
         "City": "Washington"}]}


## Address [/users/{user_id}/address]

An endpoint that adds an address to a user(POST) or retrieves all addresses for a user(GET)

### Get all addresses [GET]

+ Parameters
    + user_id (required, integer) - User ID

+ Response 200 (application/json)

    + Body

            [
              {
                "zip_code": "60618",
                "city": "chicago",
                "state": "illinois",
                "street_address": "123 Street",
                "country": "usa"
              },
              ...
            ]

### Add an address [POST]

+ Parameters
    + user_id (required, integer) - User ID

Address 1 (required) and address 2 (optional) will be formatted on the back end

+ Request (application/json)
    {
      "address_1":"123 Fake street",
      "city":"townsville",
      "state":"ME",
      "country":"US",
      "zip_code":"12345"
    }

# Group Tracks

For interacting with a user's MemberTracks.

## Tracks [GET /tracks]

Information about a user's active and available tracks.

+ Response 200

        {
            "active_tracks": [
                {
                    "current_phase": "week-6",
                    "description": "On-demand support, personalized weekly curriculum, and virtual classes to support your pregnancy journey.",
                    "display_name": "Pregnancy",
                    "enrollment_requirement_description": null,
                    "id": 26205,
                    "image": "https://storage.googleapis.com/maven-qa-images/Programs/Maven_Pregnancy.png",
                    "name": "pregnancy",
                    "scheduled_end": "2021-09-24",
                    "transitions": [
                        {
                            "description": "I’ve given birth",
                            "destination": "postpartum"
                        },
                        {
                            "description": "I’ve experienced a loss",
                            "destination": "pregnancyloss"
                        }
                    ]
                }
            ],
            "available_tracks": [
                {
                    "description": "Guidance on refining your parenting skills while managing your kids’ development, from age 1 through early adolescence.",
                    "display_name": "Parenting and Pediatrics",
                    "enrollment_requirement_description": "Enrollment requires you to have kids between one and ten years old.",
                    "image": "https://storage.googleapis.com/maven-qa-images/Programs/Maven_Pediatrics.png",
                    "name": "parenting_and_pediatrics"
                }
            ]
        }


## Track [GET /tracks/{track_id}]

Information about a specific track belonging to a user.

+ Response 200 (active track)

        {
            "id": 2,
            "name": "parenting_and_pediatrics",
            "display_name": "Parenting & Pediatrics",
            "scheduled_end": "2025-01-16",
            "current_phase": "static",
            "organization": {
                "id": 3,
                "name": "Test Organization X",
                "vertical_group_version": "Enterprise",
                "bms_enabled": false,
                "rx_enabled": true,
                "education_only": false,
                "display_name": "Test Organization X"
            }
        }

+ Response 200 (inactive track)

        {
            "id": 1,
            "name": "pregnancy",
            "display_name": "Pregnancy",
            "scheduled_end": "2025-04-09",
            "ended_at": "2024-02-06T21:52:13"
        }

+ Response 200 (scheduled track)

        {
            "id": 1,
            "name": "parenting_and_pediatrics",
            "display_name": "Parenting & Pediatrics",
            "scheduled_end": "2025-04-09",
            "start_date": "2024-02-20"
        }



## Active Tracks [GET /tracks/active]

Information about a user's active tracks.

+ Response 200

        {
            "active_tracks": [
                {
                    "id": 2,
                    "name": "parenting_and_pediatrics",
                    "display_name": "Parenting & Pediatrics",
                    "scheduled_end": "2025-01-16",
                    "current_phase": "static",
                    "organization": {
                        "id": 3,
                        "name": "Test Organization X",
                        "vertical_group_version": "Enterprise",
                        "bms_enabled": false,
                        "rx_enabled": true,
                        "education_only": false
                    }
                }
            ]
        }


## Inactive Tracks [GET /tracks/inactive]

Information about a user's inactive tracks.

+ Response 200

        {
            "inactive_tracks": [
                {
                    "id": 1,
                    "name": "pregnancy",
                    "display_name": "Pregnancy",
                    "scheduled_end": "2025-04-09",
                    "ended_at": "2024-02-06T21:52:13"
                }
            ]
        }


## Scheduled Tracks [GET /tracks/scheduled]

Information about a user's scheduled tracks.

+ Response 200

        {
            "scheduled_tracks": [
                {
                    "id": 1,
                    "name": "parenting_and_pediatrics",
                    "display_name": "Parenting & Pediatrics",
                    "scheduled_end": "2025-04-09",
                    "start_date": "2024-02-20"
                }
            ]
        }


### Track Onboarding Assessment [GET /tracks/{track_id}/onboarding_assessment]

Information about an active track's onboarding assessment

+ Parameters
    + track_id - the ID of the track

+ Response 200

        {
            "onboarding_assessment_id": 123,
[...]
