Hi {{ recipient_name}},

Your code is ready

You've purchased a ${{ amount|int }} value Maven Package for ${{ paid_amount|int }}.

To redeem, register or sign into your account and enter the referral code below under Payments and credits on the {{ base_url }}/account My Account ({{ base_url }}/account) screen:

{{ code }}

Take care,

Team Maven
