<div class="content-pad" style="padding: 0 32px">

    <h2 style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:24px; line-height:28px; color:#000000; font-weight:bold; padding-bottom:25px;">Here's your receipt</h2>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">You've purchased a ${{ amount|int }} value Maven Package for ${{ paid_amount|int }}. Next up, you’ll receive an email with a code and steps for how to redeem it.</p>
</div>