
<div class="content-pad" style="padding: 0 32px">

    <h2 style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:24px; line-height:28px; color:#000000; font-weight:bold; padding-bottom:25px;">Your code is ready</h2>
    <br/><br/>
    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">You’ve purchased a ${{ amount|int }} value Maven Package for ${{ paid_amount|int }}.</p>
    <br/><br/>
    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">To redeem, register or sign into your account and enter the referral code below under <strong>Payments and credits</strong> on the <a href="{{ base_url }}/account" style="color:#0E6956;">My Account</a> screen:</p>
    <br/><br/>
    <h2 style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:24px; line-height:28px; color:#000000; font-weight:bold; padding-bottom:16px;">{{ code }}</h2><br/>

</div>