<div class="content-pad" style="padding: 0 32px">
    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Hi {{ first_name }},
    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        This is a friendly reminder that your Maven Campus subscription has been renewed and we've charged your card.
    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Congratulations on continuing to get unlimited 24/7 access to OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging!
    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        If you have any additional questions, get in touch by reaching out to <a style="color: #0E6956; text-decoration: none;" href="mailto:support@mavenclinic.com">support@mavenclinic.com</a>.

    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Take care,
        <br/> Team Maven

    </p>
</div>