<div class="content-pad" style="padding: 0 32px">
    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Hi {{ first_name }},
    </p>
    <br/>
    <br/>


    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        This is a friendly reminder that your Maven Campus subscription will be renewed in 7 days.
    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Please click the button below to verify that your billing information is up to date. This will ensure that you continue to receive unlimited 24/7 access to OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging.
    </p>
    <br/>
    <br/>

    <table align="center" width="476" border="0" cellspacing="0" cellpadding="0" class="em_main_table" style="width:476px; table-layout:fixed; background: white">
        <tr>
            <td>
                <table width="270" border="0" cellspacing="0" cellpadding="0" align="center" style="width:270px;">
                    <tr>
                        <td align="center" valign="middle" bgcolor="#0e6956" style="background-color:#0e6956; border-radius:30px; height:50px; font-family:Helvetica, Arial, sans-serif; font-size:18px; font-weight:bold; color:#ffffff; -webkit-font-smoothing: antialiased;" height="50"><a href="{{ base_url }}/account" target="_blank" style="text-decoration:none; color:#ffffff; display:block; line-height:50px; text-align:center;">Sign in</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        <br/>If you have any additional questions, get in touch by reaching out to <a style="color: #0E6956; text-decoration: none;" href="mailto:support@mavenclinic.com">support@mavenclinic.com</a>.

    </p>
    <br/>
    <br/>

    <p style="text-align: center; font-family:Helvetica, Arial, sans-serif; font-size:18px; line-height:24px; color:#000000; padding-bottom:25px;" class="em_bottom">
        Take care,
        <br/> Team Maven

    </p>
</div>