Hi {{ first_name }},

We appreciate your purchase of a Maven Campus subscription. At this time, however, we're having some trouble with your purchase details.

Please sign in to your account and update your saved credit card: {{ base_url }}/payments

Be advised that if we are unable to process your payment, your Maven Campus subscription will be cancelled.

And if you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
