Hi {{ first_name }},

This is a friendly reminder that your Maven Campus subscription has been renewed and we've charged your card.

Congratulations on continuing to get unlimited 24/7 access to OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging!

If you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
