Hi!

{{ payer_email }} has purchased a {{ plan_type|lower }} subscription for you to Maven Campus, on-demand healthcare for college women.

You now have unlimited 24/7 access to OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging.

New member? Click the button below to create an account. Already have an account? (AWESOME!) Click the button below, scroll down past Register and hit Sign In. Voila - it's that easy.

{{ base_url }}/register?plan_invite_id={{ invite_id }}

If you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
