Hi {{ first_name }}!

We wanted to let you know that {{ payer_email }} has purchased a subscription to Maven Campus for you.

You now have unlimited 24/7 access to prescriptions, OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging.

Sign in to your account to get started!

{{ base_url }}/login?plan_invite_id={{ invite_id }}

And if you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
