Hi!

Thanks for purchasing the {{ plan_type }} subscription to Maven Campus, on-demand healthcare for college women.

This email confirms that the subscription is now active and you will be billed according to your plan.

The recipient has been sent an email with instructions for how to access the subscription and create an account.

If any issues arise regarding billing, we will contact you via email. Please verify your email address by clicking the link below:

{{ base_url }}/confirm_payer_email/{{ email|urlencode }}/{{ email_confirm_token|urlencode }}

And if you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
