Hi,

We appreciate your purchase of a Maven Campus subscription for {{ recipient_email }}. At this time, however, we're having some trouble with your purchase details.

Please update your billing information as soon as possible at

{{ base_url }}/update_payer_payment_method/{{ payer_email|urlencode }}/{{ token|urlencode }}

Be advised that if we are unable to process your payment, your Maven Campus subscription will be cancelled.

And if you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
