Hi {{ first_name }}!

Thank you so much for purchasing the {{ plan_type|lower }} Maven Campus subscription plan.

Your subscription is now active.

You now have unlimited 24/7 access to prescriptions, OB/GYNs, nurse practitioners, nutritionists, mental health providers, and a variety of other specialists via video appointments and private messaging.

Get started by setting up your account now.

{{ base_url }}/login

And if you have any additional questions, get in touch by reaching out to support@mavenclinic.com.

Sincerely,

The Maven Team
