Hi {{ first_name }}, 

Welcome to Maven! We're a health and wellness platform for the modern woman, delivering you instant access to top quality practitioners, by video or text, on your schedule.

Over the coming days, we'll be sending a few emails to help get you started. You'll meet some Maven Practitioners, learn about the different ways Maven can work for you, and see how other women are using Maven. We'll show you how good healthcare happens - without Dr. Google freaking you out or long waits in the waiting room.

Ready to get going?

Here are 3 things you can do right now:

1. Confirm your email address here: {{ base_url }}/confirm_email?token={{ token }}&email={{ email }}

2. Ask a question on our forum.
    Have a health question? Our community of highly-vetted health and wellness providers - doctors, nurse practitioners, mental health specialists, nutritionists, doulas, midwives, and more - will answer you for free.

3. Connect 1 on 1 with a practitioner instantly. 
    If you want a trusted partner in health, Maven Practitioners are here for you. See one right now, or in a few days. The great thing is that you can connect with them via video appointment or private message, whenever you need!

Ready to start your journey to better health?

Get started now: http://m.onelink.me/92d376fb

Yours, 

The Maven Team
