<input
	class="mvn-form-input merge-field"
	max="{{ max }}"
	min="{{ min }}"
	name="{{ name }}"
	maxlength="{{ maxlength }}"
	ng-maxlength="{{ maxlength }}"
	ng-minlength="{{ minlength }}"
	ng-blur="blurInput()"
	ng-change="updateMergedInput()"
	ng-focus="focusInput()"
	ng-model="value"
	ng-model-options="{ allowInvalid: true }"
	ng-pattern="patternRegex"
	placeholder="{{ placeholder }}"
	type="{{ type }}"
	value="value"
	autocomplete="off"
	aria-label="{{ arialabel }}"
	required="{{ required }}"
/>
