.page-product {
	main {
		@include susy-breakpoint($desktop) {
			margin: 3rem auto;
		}
	}

	.single-panel > div {
		width: 100%;
	}

	/* Product list */
	.bms-prod-header {
		.h5 {
			color: $terracotta-50;
			margin-bottom: 0;
		}
		@include susy-breakpoint($desktop) {
			h1 {
				max-width: 460px;
				margin-top: 0.5rem;
			}
			width: 560px;
		}
	}
	.bms-tabs {
		border-bottom: 1px solid $gray-xlt;
		margin-top: 1rem;

		@include susy-breakpoint($tablet) {
			margin-top: 4rem;
		}
		ul {
			@include susy-breakpoint($tablet) {
				width: 50%;
			}
			a {
				padding-left: 0;
				padding-right: 0;
				text-align: center;
				@include susy-breakpoint($tablet) {
					font-size: 1.25rem;
				}
			}
		}
	}

	.bms-product-list {
		margin-top: 2rem;
		@include susy-breakpoint($tablet) {
			margin-top: 3rem;
		}
		.prod-item {
			@include flexbox(column, flex-start, center);
			border-bottom: 1px solid $gray-xlt;
			margin-bottom: 3rem;
			@include susy-breakpoint($tablet) {
				@include flexbox(row, flex-start, center);
			}
			.product-img {
				margin: 0 0 1.5rem 0;
				width: 100%;
				@include susy-breakpoint($tablet) {
					width: 460px;
					margin: 0;
				}
				div {
					width: 100%;
					height: 188px;
					background-repeat: no-repeat;
					@include susy-breakpoint($tablet) {
						width: 237px;
						height: 186px;
					}
				}
				.bms-prod-img-sm {
					@include susy-breakpoint($tablet) {
						display: none;
					}
				}
				.bms-prod-img-lg {
					@include susy-breakpoint(0 $mobile-landscape-max) {
						display: none;
					}
				}
			}
			ul {
				margin-bottom: 2rem;
				padding-left: 1rem;
			}
			li {
				list-style-type: disc;
				margin: 0.75rem 0;
				padding-left: 0.5rem;
			}
		}
		img {
			width: 100%;
			max-width: 100%;
		}
		.product-info {
			@include susy-breakpoint($tablet) {
				padding: 0 2rem 1rem 2rem;
			}

			h2 {
				margin-top: 0.5rem;
			}
		}

		.place-bms-order {
			margin: 2rem auto 3rem auto;
			@include susy-breakpoint($tablet) {
			}
		}
	}

	/* Product order forms */
	.bms-product-order-form {
		.back-to-list {
			margin: 0;
			a {
				@include ui-action;
			}
			span {
				&::before {
					content: "";
					background-image: url(/img/app/dashboard/ui-action/primary.png);
					width: 12px;
					height: 11px;
					display: inline-block;
					background-size: contain;
					background-repeat: no-repeat;
					transform: scaleX(-1);
					margin-right: 0.75rem;
				}
			}
		}
		#form-error {
			padding: 0.5rem 2rem;
			background: $secondary-3-dk;
			color: $ui-red;
			border: 2px solid $ui-red;
			border-radius: 0.275rem;
		}
		.bms-form-header {
			margin-bottom: 0;
			margin-top: 1rem;
			font-weight: bold;
		}
		.bms-checkbox {
			margin: 1rem auto 0.5rem auto;
			.checkbox-container {
				width: 100%;
			}
			@include susy-breakpoint(0 $mobile-landscape-max) {
				&.res-address {
					margin: 0 auto;
				}
			}
		}
		.label-helper {
			margin-top: 0;
			margin-bottom: 1rem;
			color: $gray-lt;
		}
		hr {
			border: 0.5px solid $gray-lt;
		}

		.bms-order-terms {
			margin: 2rem 0;
			@include susy-breakpoint($desktop) {
				margin: 3rem 0;
			}
			ul {
				margin: 0;
				li {
					font-size: 0.875rem;
					margin-bottom: 0.5rem;
				}
			}
		}

		.submit-bms-order {
			margin-bottom: 2rem;
		}
	}

	/* Order complete */
	.conf-icon {
		svg {
			width: 144px;
			height: 144px;
		}
	}

	.trip-tips {
		background: $macaroon-40;
		padding: 1.5rem;
		border-radius: 4px;
		h4 {
			margin-top: 0;
		}
		ul {
			margin-left: 1rem;
		}
		li {
			list-style-image: url("/img/icons/check-xs.svg");
			margin: 1rem auto;
			padding-left: 0.5rem;
			color: $charcoal-80;
			&.last-child {
				margin-bottom: 0;
			}
		}
	}

	/* FAQs Modal */

	.ngdialog.mvndialog.bmsfaq .ngdialog-content {
		padding: 0;
		max-width: 1220px;
		width: 95%;
	}
}
