<div class="center assessment-complete">
	<div class="complete-content">
		<h1 class="serif">Got it!<br />Next, meet your Care Advocate</h1>
		<p>
			Based on your responses, we’ve hand-selected your dedicated Care Advocate and personal team of Maven providers.
			Video chat or message them anytime you need to!
		</p>
		<p class="complete-cta">
			<a class="btn btn-secondary-cta" ng-class="{'can-progress' : canProgress}" href="" ng-click="goProgress()"
				>Meet my Care Advocate</a
			>
		</p>
	</div>

	<div class="bg-full-counter">
		<span>
			<div class="h1 serif">&nbsp; {{ percentDone }}% &nbsp;</div>
		</span>
	</div>
</div>
