.error-banner #error-title {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px #ff0000 solid;
}

.error-banner #error-icon {
  margin-right: 10px;
}

.error-banner #error-message {
  font-weight: bold;
  margin-left: 38.5px;
}
