You ready?

Your appointment with {{ practitioner_name }} is all set. Let's make sure you are too.

Before your appointment:

1. Fill out your pre-session note My Care > Appointments (https://www.mavenclinic.com/my-appointments).

2. Let us know about any allergies or current medications.

3. Download the Maven Clinic app on your iOS or Android phone or make sure you have access to a computer with a front-facing camera and Mozilla Firefox or Google Chrome.


How to launch your appointment:
(You can launch up to 5 min early)

From your Maven App:
* Open your Maven Clinic app on iOS or Android
* Tap the launch bar at the bottom of the screen
* Allow video and microphone access

From your computer:
* Login at www.mavenclinic.com
* Click My Care > My Appointments and select appointment
* Tap the "Launch appointment" button
* Allow video and microphone access

Take care,

Team Maven
