<div class="center">
	<h3 class="serif">Hmmm...</h3>
	<p>We’re having trouble verifying your company-sponsored account<span ng-if="msg"> ({{ msg }})</span>.</p>
	<p>
		A Maven Care Advocate will be in touch with you shortly. For immediate help, please contact
		<a href="mailto:support@mavenclinic.com">support@mavenclinic.com</a>.
	</p>
	<p>
		<a class="btn btn-cta" href="mailto:support@mavenclinic.com?subject=Problem with my company-sponsored account"
			>Contact support</a
		>
	</p>
	<p><a class="btn btn-tertiary" ng-click="closeThisDialog(0)">Try again</a></p>
</div>
