<section ng-if="!$ctrl.loading" class="center youre-in">
	<div class="center grid-container two-column">
		<article class="welcome-left grid-item text-container">
			<h1 role="heading" class="serif">Welcome to your support network of women's health specialists and more!</h1>
			<p>
				Next up, tell us about yourself so we can match you with the best Care Team and resources customized just for
				you.
			</p>
			<p>
				<a
					role="button"
					class="btn btn-cta"
					title="Customize your Maven experience"
					href=""
					title="Start your assessment"
					ng-click="$ctrl.startOnboardingAssessment()"
					>Let's go</a
				>
			</p>
		</article>
	</div>
</section>
