<div class="onboarding-verify-enterprise center">
	<div ng-if="$ctrl.userState.track !== 'pregnancyloss' ">
		<h3 class="serif">Whose employer offers Maven as a benefit?</h3>
		<p>So you can get free and unlimited care!</p>
	</div>

	<div ng-if="$ctrl.userState.track === 'pregnancyloss' ">
		<h3 class="serif">We're so sorry to hear that.</h3>
		<p>Maven has a network of emotional wellness and medical professionals who are here to support you in any way that we can. <br class="mobile-only"/>To start, please verify your account below.</p>
	</div>

	<form name="employer-offer" class="form mvn-form employer-form">
		<div class="app-grid-container one-column mvn-input-group color-callout radio-color-callout ">
			<div class="app-grid-item mvn-input-item">
				<input type="radio" name="employer" value="employee " id="employee" ng-click="$ctrl.notEmployee = false" ng-class="{ current: !$ctrl.notEmployee }"/>
				<label for="employee">
					<span> <span></span> </span> My employer
				</label>
			</div>
			<div class="app-grid-item mvn-input-item">
					<input type="radio" name="employer" alue="partner" id="partner" ng-click="$ctrl.notEmployee = true"  ng-class="{ current: $ctrl.notEmployee }"/>
					<label for="partner">
						<span> <span></span> </span> My partner's employer
					</label>
				</div>
		</div>
	</form>

	<form name="verifyEnterpriseForm" role="form" class="clearfix mvn-form single-column max-w verify-enterprise-form">
		<div ng-if="$ctrl.notEmployee !== undefined" class="form-section">
			<p>Please enter your {{ $ctrl.notEmployee ? "partner's" : '' }} information</p>

			<div class="form-elements-container clearfix">
				<div class="form-item">
					<mvn-date-input ng-if="$ctrl.noDatePicker" form-ref="verifyEnterpriseForm" model-ref="$ctrl.verifyEnterpriseInfo.date_of_birth" label="{{ $ctrl.notEmployee ? 'Partner\'s date of birth' : 'Date of birth' }}" required="required"></mvn-date-input>
					<mvn-input ng-if="!$ctrl.noDatePicker" type="date" form-ref="verifyEnterpriseForm" value="$ctrl.verifyEnterpriseInfo.date_of_birth" label="{{ $ctrl.notEmployee ? 'Partner\'s date of birth' : 'Date of birth' }}" required="required"></mvn-input>
				</div>

				<div ng-if="!$ctrl.notEmployee" class="form-item">
					<mvn-tel-input label="Your cell phone number" value="$ctrl.verifyEnterpriseInfo.tel_number" required="required" />
				</div>

				<div class="form-item">
					<mvn-input type="email" label="{{ $ctrl.notEmployee ? 'Partner\'s work email address' : 'Your work email address' }}" value="$ctrl.verifyEnterpriseInfo.company_email" required="required" />
				</div>
				
				<mvn-tooltip hed="Make it work" dek="Please enter your {{ $ctrl.notEmployee ? 'partner\'s' : ''}} work email here. We’ll use it to double check that you get great healthcare at no cost."></mvn-tooltip>

				<p><a class="btn btn-tertiary center no-work-email" href="" ng-click="$ctrl.goToAltVerify()"><span ng-if="$ctrl.notEmployee">Partner doesn't</span><span ng-if="!$ctrl.notEmployee">Don't</span> have a work email address?</a></p>

				<p ng-if="$ctrl.notEmployee" class="your-info"><br/>Please enter your information</p>
				<div ng-if="$ctrl.notEmployee" class="form-item">
					<mvn-date-input ng-if="$ctrl.noDatePicker" form-ref="verifyEnterpriseForm" model-ref="$ctrl.verifyEnterpriseInfo.own_date_of_birth" label="Your date of birth" required="required"></mvn-date-input>
					<mvn-input ng-if="!$ctrl.noDatePicker" type="date" form-ref="verifyEnterpriseForm" value="$ctrl.verifyEnterpriseInfo.own_date_of_birth" label="Your date of birth" required="required"></mvn-input>
				</div>
				<div ng-if="$ctrl.notEmployee" class="form-item">
					<mvn-tel-input label="Your cell phone number" value="$ctrl.verifyEnterpriseInfo.tel_number" required="required" />
				</div>

			</div>
		</div>
	</form>

</div>

<mvn-onboarding-bottom-nav>
	<a class="btn btn-tertiary" ui-sref="app.onboarding.lifestage">Go back</a>
	<a class="btn btn-cta" href="" ng-click="$ctrl.verifyEnterprise($ctrl.verifyEnterpriseInfo)" ng-disabled="verifyEnterpriseForm.$invalid ||  verifyEnterpriseForm.$pristine || $ctrl.loading" ng-class="{'disabled' : verifyEnterpriseForm.$pristine || verifyEnterpriseForm.$invalid || $ctrl.loading }"><span ng-if="!$ctrl.loading">Next</span><span ng-if="$ctrl.loading">Loading...</span></a>
</mvn-onboarding-bottom-nav>