<div class="mvn-toast toast-dismissible">
	<div class="toast-container {{ opts.class }}" ng-style="{ animationDuration : opts.duration + 'ms' }">
		<span>
			<a class="toast-dismiss" ng-click="dismiss()" href="">&times;</a>
			<div class="toast-content">
				<div>
					<h3 class="serif">{{ opts.title }}</h3>

					<p>{{ opts.content }}</p>
				</div>

				<div ng-if="opts.action.type" class="toast-action">
					<mvn-dynamic-cta opts="opts.action"></mvn-dynamic-cta>
				</div>
			</div>
			<div ng-if="opts.iconClass" class="toast-icon {{ opts.iconClass }}"></div>
		</span>
	</div>
</div>
