openapi: 3.0.3
info:
  title: Maven Clinic V1 API (Maven Wallet feature)
  version: 1.0.0
  description: >-
    The Maven Clinic API is the data storage and user management interface for
    The Maven Clinic.


    ALL requests except for internal metadata, subscription plans, user creation
    and password reset require an *API-KEY* header (it's not case-sensitive)
    that contains a valid API Key--prepended with a TTL--for a Maven Clinic
    user. All requests must be transmitted over HTTPS.


    API requests made directly during local development require an
    *X-Maven-User-Id* header containing a valid user id, and must be transmitted
    over HTTP.
servers:
  - url: https://www.mavenclinic.com/api/v1
  - url: https://www.qa1.mvnapp.net/api/v1
  - url: https://www.qa2.mvnapp.net/api/v1
  - url: https://www.staging.mvnapp.net
paths:
  /reimbursement_wallet:
    get:
      summary: View all of a member's wallets
      description: View all existing wallet objects for the logged in user.
      operationId: getReimbursementWallets
      tags:
        - Maven Wallet
      parameters:
        - in: query
          name: get_non_member_dependents
          description: flag that informs the API to retrieve non-maven-member dependents (set to "true" if dependents are needed)
          required: false
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    minimum: 0
                    items:
                      $ref: "#/components/schemas/reimbursement_wallet"
              example:
                data:
                    - id: "1128702692721009835"
                      reimbursement_organization_settings:
                        id: "814606626438882937"
                        organization_id: 7
                        allowed_reimbursement_categories:
                          - id: "802610761642247822"
                            label: RX
                            reimbursement_request_category_maximum: 1000
                            reimbursement_request_category_maximum_amount:
                              currency_code: "USD"
                              amount: 1000
                              formatted_amount: "$10.00"
                              formatted_amount_truncated: "$10"
                              raw_amount: "10.00"
                            benefit_type: CURRENCY
                            credit_maximum: 0
                          - id: "1118607832289455429"
                            label: Clinic Visits
                            reimbursement_request_category_maximum: 9000
                            reimbursement_request_category_maximum_amount:
                              currency_code: "USD"
                              amount: 9000
                              formatted_amount: "$90.00"
                              formatted_amount_truncated: "$90"
                              raw_amount: "90.00"
                            benefit_type: CYCLE
                            credit_maximum: 24
                        benefit_overview_resource:
                          title: Maven Wallet Details Resource
                          url: >-
                            https://www.mavenclinic.com/resources/content/article/maven-wallet-details-resource
                        benefit_faq_resource:
                          title: Maven Wallet FAQ Resource
                          url: >-
                            https://www.mavenclinic.com/resources/content/article/maven-wallet-faq-resource
                        survey_url: https://www.surveymonkey.com/something/
                        reimbursement_request_maximum: 10000
                        is_active: true
                        debit_card_enabled: true
                        direct_payment_enabled: false
                      currency_code: USD
                      state: QUALIFIED
                      reimbursement_method: "DIRECT_DEPOSIT"
                      zendesk_ticket_id: 98765
                      debit_card_eligible: true
                      reimbursement_wallet_debit_card:
                        reimbursement_wallet_id: 1128702692721009835
                        id: 1170270113142406611
                        card_proxy_number: "1100054015522128"
                        card_last_4_digits: "2128"
                        card_status: "ACTIVE"
                        card_status_reason: 0
                        card_status_reason_text: ""
                        created_date: "2022-11-01"
                        issued_date: "2022-11-01"
                        shipped_date: null
                      hdhp_status: NONE
                      debit_banner: null
                      payment_block:
                        variant: MEMBER
                        show_benefit_amount: true
                        num_errors: 0
                      treatment_block:
                        variant: IN_TREATMENT
                        clinic: "Foo - Bar Harbor"
                      employee:
                        first_name: Jane
                        last_name: Doe
                        name: Jane Doe
                      dependents:
                        - first_name: Forrest
                          last_name: Gump
                          name: Forrest Gump
                          id: 3
                        - first_name: Barney
                          last_name: Gumble
                          name: Barney Gumble
                          id: 2
                      members:
                        - first_name: Jane
                          last_name: Doe
                          name: Jane Doe
                          id: 1
                        - first_name: Barney
                          last_name: Gumble
                          name: Barney Gumble
                          id: 2
                      household:
                        - first_name: Jane
                          last_name: Doe
                          name: Jane Doe
                          id: 1
                        - first_name: Barney
                          last_name: Gumble
                          name: Barney Gumble
                          id: 2
                        - first_name: Forrest
                          last_name: Gump
                          name: Forrest Gump
                          id: 3
                      channel_id: 12345
                      benefit_id: "491043"
                      payments_customer_id: null
                      upcoming_payments:
                        summary:
                          total_member_amount: 200000
                          member_method: "1111"
                          member_method_formatted: "***1111"
                          total_benefit_amount: 500000
                          benefit_remaining: 400000
                          procedure_title: "Fresh IVF"
                        payments:
                          - member_amount: 200000
                            member_method: "1111"
                            member_method_formatted: "***1111"
                            member_date: "2023-08-31"
                            benefit_amount: 100000
                            benefit_date: "2023-09-01"
                            benefit_remaining: 800000
                            error_type: null
                            procedure_id: 11112
                            procedure_title: "Fresh IVF"
                            bill_uuid: "05f3d3a5-7f60-44b9-8c6a-0c99823e9209"
                          - member_amount: null
                            member_method: null
                            member_method_formatted: null
                            member_date: null
                            benefit_amount: 400000
                            benefit_date: "2023-09-16"
                            benefit_remaining: 400000
                            error_type: null
                            procedure_id: 11113
                            procedure_title: "Frozen IVF"
                            bill_uuid: "aa33d3a5-0f60-24b9-1c6a-1c99823e92ee"
                      estimate_block:
                          estimate_text: "Estimated Bill"
                          total_estimates: 2
                          total_member_estimate: "$600.00"
                          payment_text: "Estimated Total Cost"
                          estimate_bill_uuid: "aa33d3a5-0f60-24b9-1c6a-1c99823e92ee"
                      pharmacy:
                        name: Alto Pharmacy
                        url: https://www.mavenclinic.com/app/resources/content/r/mavenrx-alto-pharmacy
                      reimbursement_request_block:
                        title: "Kaiser Permanente"
                        total: 1,
                        reimbursement_text: "Estimated return to you."
                        expected_reimbursement_amount: "$1,780.00"
                        original_claim_text: "Original claim:"
                        original_claim_amount: "2,150.00"
                        reimbursement_request_uuid: "1168905375706931595"
                        details_text: null
                        has_cost_breakdown_available: true
    post:
      summary: Create a new wallet.
      operationId: postReimbursementWallet
      description: >-
        Create a Maven Wallet record for the logged in user. This is used after
        the survey is complete. It creates wallets in the pending state.
      tags:
        - Maven Wallet
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reimbursement_organization_settings_id:
                  type: string
                initial_wallet_state:
                  type: string
                  description: > 
                    This is an OPTIONAL parameter introduced for the wallet automatic qualification work. If it is not provided,
                    then the wallet will be created in a PENDING state. If it is provided, then the wallet will be created in
                    the DISQUALIFIED state if the initial_wallet_state is "DISQUALIFIED", it the wallet will be created in the 
                    PENDING state in ALL OTHER SCENARIOS.
                  oneOf:
                    - DISQUALIFIED
                    - PENDING
                  
              required: [reimbursement_organization_settings_id]
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet"
        "403":
          description: >-
            Not authorized: User is not an enterprise user linked to an organization
            that has Wallet enabled.
        "500":
          description: Internal error
  /reimbursement_wallet/state:
    get:
      summary: Returns metadata about the state of a user's wallet
      description: Displays the summary/eligible/enrolled information for a user's wallet
      operationId: getReimbursementWalletState
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_state"
              examples:
                reimbursement_wallet_state_not_eligible_marketplace:
                  $ref: "#/components/examples/reimbursement_wallet_state_not_eligible_marketplace"
                reimbursement_wallet_state_not_eligible_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_not_eligible_access"
                reimbursement_wallet_state_apply_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_apply_access"
                reimbursement_wallet_state_pending_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_pending_access"
                reimbursement_wallet_state_disqualified_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_disqualified_access"
                reimbursement_wallet_state_expired_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_expired_access"
                reimbursement_wallet_state_runout_access:
                  $ref: "#/components/examples/reimbursement_wallet_state_runout_access"
                reimbursement_wallet_state_enrolled_green:
                  $ref: "#/components/examples/reimbursement_wallet_state_enrolled_green"
                reimbursement_wallet_state_enrolled_gold:
                  $ref: "#/components/examples/reimbursement_wallet_state_enrolled_gold"
                reimbursement_wallet_state_expired:
                  $ref: "#/components/examples/reimbursement_wallet_state_enrolled_gold"
        "500":
          description: Internal server error
  /reimbursement_wallet/available_currencies:
    get:
      summary: Returns a list of available currencies for the reimbursement request form
      description: Based on a member's organization's configured currencies
      operationId: getReimbursementWalletAvailableCurrencies
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency_code:
                      description: ISO 4217 currency code
                      type: string
                      nullable: false
                    minor_unit:
                      description: ISO 4217 minor unit of the currency
                      type: integer
                      nullable: false
                    display_name:
                      description: Descriptive name of the currency
                      type: string
                      nullable: false
              example:
                - currency_code: "USD"
                  minor_unit: 2
                  display_name: "US Dollars"
                - currency_code: "GBP"
                  minor_unit: 2
                  display_name: "British Pounds"
                - currency_code: "JPY"
                  minor_unit: 0
                  display_name: "Japanese Yen"

        "500":
          description: Internal server error
  /reimbursement_wallet/{id}:
    put:
      summary: Edit a wallet record.
      operationId: putReimbursementWallet
      description: >-
        Edit a wallet record for the logged in user. This endpoint will
        give an error if you attempt to use it to switch the wallet's user_id,
        if you attempt to move a wallet from one organization to another, or if
        you attempt to move a wallet to a reimbursement_setting missing some of
        the original wallet's categories while the wallet contains reimbursement
        requests.
      tags:
        - Maven Wallet
      parameters:
        - name: id
          in: path
          description: ID of the reimbursement wallet to be edited
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reimbursement_organization_settings_id:
                  type: string
                state:
                  $ref: "#/components/schemas/wallet_state_enum"
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet"
        "400":
          description: Error in input.
        "404":
          description: >-
            Not found: an Organization Settings record could not be found for the given ID.
        "500":
          description: Internal error
  /reimbursement_wallet/{id}/users:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
    get:
      summary: Get a list of other users of a wallet and their statuses
      operationId: getReimbursementWalletUsers
      description: Get a list of the others users of a reimbursement wallet and their statuses
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/users"
              examples:
                users:
                  $ref: "#/components/examples/users"
        "401":
          description: User is not authorized to view the users of the wallet
  /reimbursement_wallet/{id}/add_user:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
    post:
      summary: Send an email invitation to someone to join the reimbursment wallet
      description: Create an email invitation to someone to join the reimbursement wallet
      operationId: postReimbursementWalletAddUser
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address of the recipient
                date_of_birth:
                  type: string
                  description: Date of birth (YYYY-MM-DD) of the recipient
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/add_user"
              examples:
                complete:
                  $ref: "#/components/examples/add_user"
        "409":
          description: The sender will see the message "This person you are trying to add is already part of your Wallet."
        "500":
          description: The sender will see one of several error messages depending on the scenario.      
  /reimbursement_wallet/invitation/{invitationId}:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet invitation
        required: true
        schema:
          type: string
    get:
      summary: Get the Wallet invitation details
      operationId: getReimbursementWalletInvitation
      description: >-
        Returns inviter name and survey url if Wallet invitation is valid. Returns error message if invitation is invalid.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_invitation"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_invitation_response"
        "404":
          description: Invitation does not exist.
        "409":
          description: Returns one of several error messages depending on the scenario. 
    post:
      summary: Accept or decline a Wallet invitation
      operationId: postReimbursementWalletInvitation
      description: >-
        Accept or decline a Wallet a valid invitation. Returns an error message if invitation is invalid.
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref: "#/components/schemas/reimbursement_wallet_invitation_input"
            examples:
              complete:
                $ref: "#/components/examples/reimbursement_wallet_invitation_input"
      responses:
        "200":
          description: The invitation has been accepted or declined
          content:
          application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_invitation_response"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_invitation_response"
        "404":
          description: Invitation id does not exist
        "409":
          description: Returns one of several error messages depending on the scenario.
    delete:
      summary: Cancel Wallet invitation
      operationId: postReimbursementWalletInvitation
      description: >-
        Cancel Wallet invitation before the recipient has claimed it.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: Your invite has been canceled.
          content:
          application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_invitation_cancel_response"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_invitation_cancel_response"
        "404":
          description: Cannot find the invitation.
        "409":
          description: Invitation already used/Invitation expired.
        "500":
          description: Failed to cancel invitation.
  /reimbursement_wallets/{id}/insurance/annual_questionnaire:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
      - name: plan_year
        in: query
        description: Populate to request survey for a particular plan year
        required: false
        schema:
          type: string
    get:
      summary: Get the questionnaire for a wallet
      operationId: getReimbursementAnnualQuestionnaire
      description: >-
        Get the annual_questionnaire the given wallet. The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_questionnaire"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_questionnaire"
        "400":
          description: The request could not be authenticated.
        "403":
          description: Not Authorized for Wallet.
        "404":
          description: wallet_id is invalid.
    post:
      summary: Submit the questionnaire responses
      operationId: postReimbursementAnnualQuestionnaire
      description: >-
        Questionnaire responses for the given wallet. The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref: "#/components/schemas/reimbursement_wallet_questionnaire_response"
            examples:
              complete:
                $ref: "#/components/examples/reimbursement_wallet_questionnaire_response"
      responses:
        "200":
          description: Created
        "201":
          description: Follow Up Survey
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_questionnaire"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_questionnaire"
        "409":
          description: User has already completed this questionnaire
        "403":
          description: User is not allowed to take this action
        "404":
          description: Request body does not match schema=
  /reimbursement_wallets/{wallet_id}/insurance/annual_questionnaire/needs_survey:
    parameters:
      - name: wallet_id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
      - name: any_survey
        in: query
        description: When set to true, includes the needs_any_survey field in the response
        required: false
        schema:
          type: boolean
    get:
      summary: >-
        Returns true if the user needs to fill out the questionnaire/survey for their associated wallet. 
      operationId: getReimbursementAnnualQuestionnaire
      description: >-
        Returns whether questionnaires/surveys need to be filled out for the associated wallet.
        The response includes needs_survey for backward compatibility with old native apps and reimbursement cycle buttons.
        When any_survey query parameter is true, also includes needs_any_survey field used by dashboard banners.
        All errors except auth failure, e.g: wallet not found, user not permissioned to wallet, will be returned as false.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_questionnaire_needs_survey_response"
        "400":
          description: The request could not be authenticated.

  /reimbursement_wallets/{wallet_id}/insurance/annual_questionnaire/clinic_portal/needs_survey:
    parameters:
      - name: wallet_id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
      - name: member_user_id
        in: query
        description: user id of the member(patient) being looked up
        required: true
        schema:
          type: boolean
    get:
      summary: >-
        Returns a dict to let the clinic portal know if the user needs to fill the survey for this or future plan years.
      operationId: getReimbursementAnnualQuestionnaire
      description: >-
        Returns whether questionnaires/surveys need to be filled out for the associated wallet.
        The response includes needs_survey, for the current year and needs_any_survey for any year including the 
        current year.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_questionnaire_needs_survey_response"
        "401":
          description: Unauthorized.
        "400":
          description: Bad request.
        "404":
          description: The member does not have access to the specified wallet.

  /reimbursement_wallets/{id}/bank_account:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
    get:
      summary: Get the bank account information for a wallet
      operationId: getReimbursementWalletBankAccount
      description: >-
        Get the direct deposit bank account record for the given wallet.
        The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_bank_account"
              examples:
                bank_account:
                  $ref: "#/components/examples/reimbursement_wallet_bank_account"
        "404":
          description: >-
            The wallet does not exist, does not belong to the logged-in user,
            or does not have an associated bank account.
    post:
      summary: Add bank account information for a wallet
      operationId: postReimbursementWalletBankAccount
      description: >-
        Add direct deposit bank account information for a given wallet. Cannot be used to update existing bank account
        information. The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref: "#/components/schemas/reimbursement_wallet_bank_account_input"
            examples:
              bank_account_input:
                $ref: "#/components/examples/reimbursement_wallet_bank_account_input"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_bank_account"
              examples:
                bank_account:
                  $ref: "#/components/examples/reimbursement_wallet_bank_account"
        "400":
          description: Generic error
        "404":
          description: >-
            The wallet does not exist, does not belong to the logged-in user,
            or does not have an associated bank account.
        "409":
          description: Wallet already has bank account.
    put:
      summary: Update bank account information for a wallet
      operationId: putReimbursementWalletBankAccount
      description: >-
        Update direct deposit bank account information for a given wallet.
        The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref: "#/components/schemas/reimbursement_wallet_bank_account_input"
            examples:
              bank_account_input:
                $ref: "#/components/examples/reimbursement_wallet_bank_account_input"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_bank_account"
              examples:
                bank_account:
                  $ref: "#/components/examples/reimbursement_wallet_bank_account"
        "400":
          description: Generic error
        "404":
          description: >-
            The wallet does not exist, does not belong to the logged-in user,
            or does not have an associated bank account.
    delete:
      summary: Delete bank account information for a wallet
      operationId: deleteReimbursementWalletBankAccount
      description: >-
        Remove direct deposit bank account information from a given wallet. The wallet cannot have a
        reimbursement method of direct deposit or in-flight (pending or approved) reimbursement requests.
        The wallet must be owned by the logged-in user.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: >-
            The bank account has been removed OR there are in-flight reimbursement requests and a ticket
            has been filed to the Care Team for assistance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                removed:
                  summary: Bank account removed
                  value:
                    message: Removed a bank account
                in-flight_requests:
                  summary: Ticket sent to Care Team
                  value:
                    message: >-
                      This bank account cannot be removed automatically
                      due to reimbursement requests in flight.
                      Your Maven Care Advocate will contact you shortly
                      to unlink your bank account from Maven Wallet.
        "400":
          description: Generic error
        "404":
          description: >-
            The wallet does not exist, does not belong to the logged-in user,
            or does not have an associated bank account.
        "409":
          description: Wallet has reimbursement method of direct deposit.
  /reimbursement_wallets/{id}/debit_card:
    parameters:
      - name: id
        in: path
        description: ID of the reimbursement wallet
        required: true
        schema:
          type: integer
    get:
      summary: View active debit card associated with members reimbursement wallet
      description: View active debit card associated with members reimbursement wallet
      operationId: getReimbursementWalletDebitCard
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/reimbursement_wallet_debit_card"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_debit_card"
        "404":
          description: No active debit card for current member
    post:
      summary: Create new debit card for members reimbursement wallet
      description: Create new debit card for members reimbursement wallet
      operationId: postReimbursementWalletDebitCard
      tags:
        - Maven Wallet
      requestBody:
        description: Indicates whether or not member has opted in for SMS messaging. Defaults to false.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sms_opt_in:
                  type: boolean
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_wallet_debit_card"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_debit_card"
        "402":
          description: Member has not met their HDHP deductible
        "403":
          description: Debit card is not enabled for associated Wallet organization or associated Wallet is not qualified
        "409":
          description: Member has an active debit card
        "500":
          description: Could not complete request or issue a debit card
  /reimbursement_wallets/{id}/debit_card/lost_stolen:
    post:
      summary: Update debit card status to lost / stolen
      operationId: postReimbursementWalletDebitCardLostStolen
      description: Update debit card status to lost / stolen
      tags:
        - Maven Wallet
      parameters:
        - name: id
          in: path
          description: ID of the reimbursement wallet
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/reimbursement_wallet_debit_card"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_debit_card"
        "404":
          description: No debit card found associated with reimbursement wallet
        "409":
          description: Debit card status is already marked as 'CLOSED'
        "500":
          description: Internal error
  /reimbursement_wallets/{id}/upcoming_transactions:
    get:
      summary: View upcoming maven transactions and balance in wallet after they are complete.
      description: >-
        Returns upcoming maven transactions. 
        This includes the employer responsibility on treatment procedures that do not yet have employer bills,
        and employer bills that are in the NEW, PROCESSING or FAILED states. 
        Transactions will be shared (has member responsibility) or no_member (member 0 responsibility)
      operationId: getReimbursementWalletUpcomingTransactions
      tags:
        - Maven Wallet
      parameters:
        - name: id
          in: path
          description: ID of the reimbursement wallet.
          required: true
          schema:
            type: integer
        - name: offset
          in: query
          description: >-
            Result offset. e.g. if 9 will return from results[9], 0 indexed. Default 0.
            If offset > max index, then will return empty list of transactions.
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/reimbursement_wallet_transactions"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_wallet_transactions"
        "404":
          description: >-
            The wallet id does not exist or does not belong to the logged-in user.
        "500":
          description: Internal error

  /reimbursement_request:
    get:
      summary: View reimbursement requests and metadata for a wallet
      operationId: getReimbursementRequestsForWallet
      description: >-
        View user reimbursement requests with summary data. Only works for
        wallets that belong to the logged in user.
      tags:
        - Maven Wallet
      parameters:
        - name: reimbursement_wallet_id
          in: query
          description: >-
            ID of the wallet for which you want to see associated reimbursement
            requests
          required: true
          schema:
            type: number
        - name: category
          in: query
          description: Reimbursement request category label to limit by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/reimbursement_requests_meta"
                  data:
                    type: object
                    properties:
                      summary:
                        $ref: "#/components/schemas/reimbursement_requests_summary"
                      reimbursement_requests:
                        type: array
                        items:
                          allOf:
                              - $ref: "#/components/schemas/reimbursement_request_with_no_state_prop"
                              - type: object
                                properties:
                                  state:
                                    type: string
                                    enum:
                                      - NEW
                                      - PENDING
                                      - APPROVED
                                      - REIMBURSED
                                      - DENIED
                                      - FAILED
                                      - NEEDS_RECEIPT
                                      - RECEIPT_SUBMITTED
                                      - INSUFFICIENT_RECEIPT
                                      - INELIGIBLE_EXPENSE
                                      - RESOLVED
                                      - REFUNDED


              example:
                meta:
                  reimbursement_wallet_id: "1128702692721009835"
                  category: "Fertility"
                data:
                  summary:
                    reimbursement_request_maximum: 10000
                    reimbursement_spent: 1065
                    currency_code: "USD"
                    wallet_shareable: false
                    category_breakdown:
                      - category:
                          id: "1118607832289455429"
                          label: Fertility
                          is_unlimited: true
                          reimbursement_request_category_maximum: 0
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 0
                            formatted_amount: "$0.00"
                            formatted_amount_truncated: "$0"
                            raw_amount: "0.00"
                          title: 'Fertility Category'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: True
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 1050
                        spent_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                      - category:
                          id: "1118607832289455429"
                          label: Clinic Visits
                          is_unlimited: false
                          reimbursement_request_category_maximum: 9000
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 9000
                            formatted_amount: "$90.00"
                            formatted_amount_truncated: "$90"
                            raw_amount: "90.00"
                          title: 'Clinic Visits'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 1050
                        spent_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 7950
                          formatted_amount: "$79.50"
                          formatted_amount_truncated: "$79"
                          raw_amount: "79.50"
                      - category:
                          id: "1118607832289452222"
                          label: IVF
                          is_unlimited: false
                          reimbursement_request_category_maximum: 0
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 0
                            formatted_amount: "$0.00"
                            formatted_amount_truncated: "$0"
                            raw_amount: "0.00"
                          title: 'IVF'
                          subtitle: ''
                          benefit_type: 'CYCLE'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 10
                          credit_maximum: 24
                        spent: 0
                        spent_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                      - category:
                          id: "802610761642247822"
                          label: RX
                          is_unlimited: false
                          reimbursement_request_category_maximum: 1000
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 1000
                            formatted_amount: "$10.00"
                            formatted_amount_truncated: "$10"
                            raw_amount: "10.00"
                          title: 'RX'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 15
                        spent_amount:
                          currency_code: "USD"
                          amount: 15
                          formatted_amount: "$0.15"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.15"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 985
                          formatted_amount: "$9.85"
                          formatted_amount_truncated: "$9"
                          raw_amount: "9.85"
                    expense_types:
                      - label: Fertility
                        currency_code: "USD"
                        is_fertility_expense: true
                        form_options:
                          - name: infertility_dx
                            label: Is this expense related to a medical diagnosis of infertility issued by a medical provider? (We need this information to determine if your reimbursement is taxable)
                        subtypes:
                          - id: "33"
                            label: "Fertility medication"
                          - id: "34"
                            label: "Initial evaluation or timed intercourse (TI) procedures"
                          - id: "36"
                            label: "IUI"
                          - id: ""
                            label: "Other"
                      - label: Maternity
                        currency_code: "USD"
                        is_fertility_expense: false
                        form_options: []
                        subtypes:
                          - id: "13"
                            label: "Maternity-related prescriptions not covered under health insurance"
                          - id: "12"
                            label: "Lactation consult"
                          - id: ""
                            label: "Other"
                  reimbursement_requests:
                    - id: "1168905375706931595"
                      label: Lab (Medical)
                      service_provider: Some Laboratory
                      person_receiving_service: null
                      employee_name: User T. Est
                      description: ""
                      amount: 1050
                      benefit_amount:
                        currency_code: "USD"
                        amount: 1050
                        formatted_amount: "$10.50"
                        formatted_amount_truncated: "$10"
                        raw_amount: "10.50"
                      state: APPROVED
                      state_description: >-
                        Your expenses have been preliminarily approved by our
                        care team per your company’s eligibility criteria and
                        have been submitted to your company for final review!
                      category:
                        id: "1118607832289455429"
                        label: Clinic Visits
                      source:
                        type: user_asset
                        source_id: "76"
                        source_url: "https://www.example.com/76.jpg"
                        created_at: "2020-10-03T11:27:41"
                      sources:
                        - type: user_asset
                          source_id: "76"
                          source_url: "https://www.example.com/76.jpg"
                          created_at: "2020-10-03T11:27:41"
                      created_at: "2020-10-03T21:13:49"
                      service_start_date: "2020-10-01T18:23:01"
                      service_end_date: "2020-10-01T18:23:01"
                      cost_share_details:
                        reimbursement_amount: "$150.00"
                        reimbursement_expected_message: "Your expenses have been received. Family building services can be subject to coinsurance, copay, and deductible. If you have financial responsibility towards this claim, our care team will calculate this when they review your claim. It will be deducted from the amount reimbursed to you."
                        original_claim_amount: "$500.00"
                    - id: "1168905376982765482"
                      label: CVS pharmacy
                      service_provider: A Pharmacy
                      person_receiving_service: Some Other User
                      employee_name: User T. Est
                      description: ''
                      amount: 15
                      benefit_amount:
                        currency_code: "USD"
                        amount: 15
                        formatted_amount: "$0.15"
                        formatted_amount_truncated: "$0"
                        raw_amount: "0.15"
                      state: PENDING
                      state_description: >-
                        Your expenses have been received by our care team and
                        are pending further review.
                      category:
                        id: "802610761642247822"
                        label: RX
                      source:
                        type: user_asset
                        source_id: "99"
                        source_url: "https://www.example.com/99.jpg"
                        created_at: "2020-11-03T16:13:49"
                      sources:
                        - type: user_asset
                          source_id: "99"
                          source_url: "https://www.example.com/99.jpg"
                          created_at: "2020-11-03T16:13:49"
                      created_at: "2020-11-04T21:13:49"
                      service_start_date: "2020-11-05T18:23:01"
                      service_end_date: null

        "400":
          description: Error in input.
        "404":
          description: Wallet not found.
    post:
      summary: Create a reimbursement request
      operationId: postReimbursementRequest
      description: >-
        The endpoint will create a new Reimbursement Request object
      tags:
        - Maven Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                category_id: '1118607832289452222'
                expense_type: "Fertility"
                expense_subtype_id: "33"
                infertility_dx: true
                service_provider: 'NYU Langone Fertility Center'
                description: 'Fertility expenses'
                service_start_date: '2024-01-01'
                person_receiving_service_id: '123'
                person_receiving_service_name: 'Amelia'
                currency_code: "USD"
                amount: 4000
                wallet_id: '1234'
                sources: [
                  {
                    source_id: '1289737492813004386'
                  }
                ]
                required_plan_year: '2024-2025'
              properties:
                category_id:
                  type: string
                  required: false
                expense_type:
                  type: string
                  required: false
                expense_subtype_id:
                  type: string
                  required: false
                infertility_dx:
                  type: boolean
                  required: false
                service_provider:
                  type: string
                  required: true
                description:
                  type: string
                  required: false
                wallet_id:
                  type: string
                  required: true
                service_start_date:
                  type: string
                  required: true
                person_receiving_service_id:
                  type: string
                  required: true
                person_receiving_service_name:
                  type: string
                  required: true
                amount:
                  description: The amount in the minor unit of the currency described by `currency_code` field
                  type: integer
                  required: true
                currency_code:
                  description: The ISO 4217 currency of the `amount` field, defaults to "USD" for backwards compatibility
                  type: string
                  required: false
                sources:
                  type: array
                  required: true
                  items:
                    allOf:
                      - type: object
                        properties:
                          source_id:
                            type: string
                            required: true
                document_mapping_uuid:
                  type: string
                  format: uuid
                  required: false
                required_plan_year:
                  type: string
                  required: False
                  description: >-
                    Populated if the front ends needs to redirect to the new survey flow. 
                    This value must be passed back to the back end.
      responses:
        "200":
          description: OK
        "201":
          description: UI should redirect to survey for specified year
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan_year:
                    type: string
                    required: true
                    description: Lets the backend know if the survey for a specific year is being requested.
                    example: '2024-2025'
        "400":
          description: Invalid data provided
        "500":
          description: Error uploading attachment
  /reimbursement_request/{id}:
    get:
      summary: Returns the details of a reimbursement request with the latest associated cost breakdown data, if available.
      operationId: getReimbursementRequest
      description: >-
        Returns the details of a reimbursement request with the latest associated cost breakdown data, if available.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/reimbursement_request_details"
        "404":
          description: Reimbursement request not found.

  /reimbursement_request/state:
    get:
      summary: View reimbursement requests with state and metadata for a wallet
      operationId: getReimbursementRequestsWithStateForWallet
      description: >-
        View user reimbursement requests with state in needs attention and transaction history lists. Only works for
        wallets that belong to the logged in user.
      tags:
        - Maven Wallet
      parameters:
        - name: reimbursement_wallet_id
          in: query
          description: >-
            ID of the wallet for which you want to see associated reimbursement
            requests
          required: true
          schema:
            type: number
        - name: category
          in: query
          description: Reimbursement request category label to limit by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers: { }
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/reimbursement_requests_meta"
                  data:
                    type: object
                    properties:
                      summary:
                        $ref: "#/components/schemas/reimbursement_requests_summary"
                      reimbursement_requests:
                        type: object
                        properties:
                          transaction_history:
                            type: array
                            items:
                              allOf:
                                - $ref: "#/components/schemas/reimbursement_request_with_no_state_prop"
                                - type: object
                                  properties:
                                    state:
                                      type: string
                                      enum:
                                        - REIMBURSED
                                        - INELIGIBLE_EXPENSE
                                        - RESOLVED
                                        - REFUNDED
                                        - DENIED
                          needs_attention:
                            type: array
                            items:
                              allOf:
                                - $ref: "#/components/schemas/reimbursement_request_with_no_state_prop"
                                - type: object
                                  properties:
                                    state:
                                      type: string
                                      enum:
                                        - NEEDS_RECEIPT
                                        - PENDING
                                        - INSUFFICIENT_RECEIPT
                                        - NEW
                                        - APPROVED
                                        - RECEIPT_SUBMITTED
                          most_recent:
                            type: array
                            maxLength: 2
                            minLength: 0
                            items:
                              allOf:
                                - $ref: "#/components/schemas/reimbursement_request_with_no_state_prop"
                                - type: object
                                  properties:
                                    state:
                                      type: string
                                      enum:
                                        - NEEDS_RECEIPT
                                        - PENDING
                                        - INSUFFICIENT_RECEIPT
                                        - NEW
                                        - APPROVED
                                        - REIMBURSED
                                        - RECEIPT_SUBMITTED
                                        - INELIGIBLE_EXPENSE
                                        - RESOLVED
                                        - REFUNDED
              example:
                meta:
                  reimbursement_wallet_id: "1128702692721009835"
                  category: "Fertility"
                data:
                  summary:
                    reimbursement_request_maximum: 10000
                    reimbursement_spent: 1065
                    currency_code: "USD"
                    wallet_shareable: false
                    expense_types:
                    - label: Fertility
                      currency_code: "USD"
                      is_fertility_expense: true
                      form_options:
                      - name: infertility_dx
                        label: Is this expense related to a medical diagnosis of infertility issued by a medical provider? (We need this information to determine if your reimbursement is taxable)
                      subtypes:
                        - id: "33"
                          label: "Fertility medication"
                        - id: "34"
                          label: "Initial evaluation or timed intercourse (TI) procedures"
                        - id: "36"
                          label: "IUI"
                        - id: ""
                          label: "Other"
                    - label: Maternity
                      currency_code: "USD"
                      is_fertility_expense: false
                      form_options: [ ]
                      subtypes:
                        - id: "13"
                          label: "Maternity-related prescriptions not covered under health insurance"
                        - id: "12"
                          label: "Lactation consult"
                    category_breakdown:
                      - category:
                          id: "1118607832289455429"
                          label: Clinic Visits
                          is_unlimited: false
                          reimbursement_request_category_maximum: 9000
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 9000
                            formatted_amount: "$90.00"
                            formatted_amount_truncated: "$90"
                            raw_amount: "90.00"
                          title: 'Clinic Visits'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 1050
                        spent_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 7950
                          formatted_amount: "$79.50"
                          formatted_amount_truncated: "$79"
                          raw_amount: "79.50"
                      - category:
                          id: "1118607832289455429"
                          label: Fertility
                          is_unlimited: true
                          reimbursement_request_category_maximum: 0
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 0
                            formatted_amount: "$0.00"
                            formatted_amount_truncated: "$0"
                            raw_amount: "0.00"
                          title: 'Fertility Category'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: True
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 1050
                        spent_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                      - category:
                          id: "1118607832289452222"
                          label: IVF
                          is_unlimited: false
                          reimbursement_request_category_maximum: 0
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 0
                            formatted_amount: "$0.00"
                            formatted_amount_truncated: "$0"
                            raw_amount: "0.00"
                          title: 'IVF'
                          subtitle: ''
                          benefit_type: 'CYCLE'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 10
                          credit_maximum: 24
                        spent: 0
                        spent_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 0
                          formatted_amount: "$0.00"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.00"
                      - category:
                          id: "802610761642247822"
                          label: RX
                          is_unlimited: false
                          reimbursement_request_category_maximum: 1000
                          reimbursement_request_category_maximum_amount:
                            currency_code: "USD"
                            amount: 1000
                            formatted_amount: "$10.00"
                            formatted_amount_truncated: "$10"
                            raw_amount: "10.00"
                          title: 'RX'
                          subtitle: ''
                          benefit_type: 'CURRENCY'
                          is_fertility_category: True
                          direct_payment_eligible: False
                          credits_remaining: 0
                          credit_maximum: 0
                        spent: 15
                        spent_amount:
                          currency_code: "USD"
                          amount: 15
                          formatted_amount: "$0.15"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.15"
                        remaining_amount:
                          currency_code: "USD"
                          amount: 985
                          formatted_amount: "$9.85"
                          formatted_amount_truncated: "$9"
                          raw_amount: "9.85"
                  reimbursement_requests:
                    transaction_history:
                      - id: "1168905375706931595"
                        label: Lab (Medical)
                        service_provider: Some Laboratory
                        person_receiving_service: null
                        employee_name: User T. Est
                        description: ""
                        amount: 1050
                        benefit_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        state: APPROVED
                        state_description: >-
                          Your expenses have been preliminarily approved by our
                          care team per your company’s eligibility criteria and
                          have been submitted to your company for final review!
                        category:
                          id: "1118607832289455429"
                          label: Clinic Visits
                        source:
                          type: user_asset
                          source_id: "76"
                          source_url: "https://www.example.com/76.jpg"
                          created_at: "2020-10-03T11:27:41"
                        sources:
                          - type: user_asset
                            source_id: "76"
                            source_url: "https://www.example.com/76.jpg"
                            created_at: "2020-10-03T11:27:41"
                        created_at: "2020-10-03T21:13:49"
                        service_start_date: "2020-10-01T18:23:01"
                        service_end_date: "2020-10-01T18:23:01"
                        cost_share_details:
                          reimbursement_amount: "$150.00"
                          reimbursement_expected_message: "Your expenses have been received.Family building services can be subject to coinsurance, copay, and deductible. If you have financial responsibility towards this claim, our care team will calculate this when they review your claim. It will be deducted from the amount reimbursed to you."
                          original_claim_amount: "$500.00"
                    needs_attention:
                      - id: "1168905376982765482"
                        label: CVS pharmacy
                        service_provider: A Pharmacy
                        person_receiving_service: Some Other User
                        employee_name: User T. Est
                        description: ''
                        amount: 15
                        benefit_amount:
                          currency_code: "USD"
                          amount: 15
                          formatted_amount: "$0.15"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.15"
                        state: PENDING
                        state_description: >-
                          Your expenses have been received by our care team and
                          are pending further review.
                        category:
                          id: "802610761642247822"
                          label: RX
                        source:
                          type: user_asset
                          source_id: "99"
                          source_url: "https://www.example.com/99.jpg"
                          created_at: "2020-11-03T16:13:49"
                        sources:
                          - type: user_asset
                            source_id: "99"
                            source_url: "https://www.example.com/99.jpg"
                            created_at: "2020-11-03T16:13:49"
                        created_at: "2020-11-04T21:13:49"
                        service_start_date: "2020-11-05T18:23:01"
                        service_end_date: null
                    most_recent:
                      - id: "1168905375706931595"
                        label: Lab (Medical)
                        service_provider: Some Laboratory
                        person_receiving_service: null
                        employee_name: User T. Est
                        description: ""
                        amount: 1050
                        benefit_amount:
                          currency_code: "USD"
                          amount: 1050
                          formatted_amount: "$10.50"
                          formatted_amount_truncated: "$10"
                          raw_amount: "10.50"
                        state: APPROVED
                        state_description: >-
                          Your expenses have been preliminarily approved by our
                          care team per your company’s eligibility criteria and
                          have been submitted to your company for final review!
                        category:
                          id: "1118607832289455429"
                          label: Clinic Visits
                        source:
                          type: user_asset
                          source_id: "76"
                          source_url: "https://www.example.com/76.jpg"
                          created_at: "2020-10-03T11:27:41"
                        sources:
                          - type: user_asset
                            source_id: "76"
                            source_url: "https://www.example.com/76.jpg"
                            created_at: "2020-10-03T11:27:41"
                        created_at: "2020-10-03T21:13:49"
                        service_start_date: "2020-10-01T18:23:01"
                        service_end_date: "2020-10-01T18:23:01"
                        reimbursement_request_expected_amount: "$150.00"
                        reimbursement_request_expected_message: "Your expenses have been received.Family building services can be subject to coinsurance, copay, and deductible. If you have financial responsibility towards this claim, our care team will calculate this when they review your claim. It will be deducted from the amount reimbursed to you."
                      - id: "1168905376982765482"
                        label: CVS pharmacy
                        service_provider: A Pharmacy
                        person_receiving_service: Some Other User
                        employee_name: User T. Est
                        description: ''
                        amount: 15
                        benefit_amount:
                          currency_code: "USD"
                          amount: 15
                          formatted_amount: "$0.15"
                          formatted_amount_truncated: "$0"
                          raw_amount: "0.15"
                        state: PENDING
                        state_description: >-
                          Your expenses have been received by our care team and
                          are pending further review.
                        category:
                          id: "802610761642247822"
                          label: RX
                        source:
                          type: user_asset
                          source_id: "99"
                          source_url: "https://www.example.com/99.jpg"
                          created_at: "2020-11-03T16:13:49"
                        sources:
                          - type: user_asset
                            source_id: "99"
                            source_url: "https://www.example.com/99.jpg"
                            created_at: "2020-11-03T16:13:49"
                        created_at: "2020-11-04T21:13:49"
                        service_start_date: "2020-11-05T18:23:01"
                        service_end_date: null
        "400":
          description: Invalid User.
        "404":
          description: Wallet not found.
  /reimbursement_request/{id}/sources:
    post:
      summary: Associate user asset with reimbursement request
      operationId: postReimbursementRequestSources
      description: >-
        This endpoint will take a user asset and associate it to its respective reimbursement request.
        Consequently, if successful, this will create a new unique reimbursement request source.
      tags:
        - Maven Wallet
      parameters:
        - name: id
          in: path
          description: ID of the reimbursement request
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_asset_id:
                  type: string
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reimbursement_request_source"
              examples:
                complete:
                  $ref: "#/components/examples/reimbursement_request_source"
        "404":
          description: Could not find ReimbursementRequest by id or related resources (e.g. ReimbursementWallet)
        "500":
          description: Error uploading attachment
  /reimbursement_wallet/dashboard:
    get:
      summary: Get information to render the member's wallet dashboard
      operationId: getReimbursementWalletDashboard
      description: ->
        Returns dynamic information for the wallet dashboard. This may be member- or
        wallet-specific. Currently only includes the dashboard cards.
      tags:
        - Maven Wallet
      responses:
        "200":
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    minimum: 0
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        body:
                          type: string
                        img_url:
                          type: string
                        link_text:
                          type: string
                        link_url:
                          type: string
                  show_apply_for_wallet:
                    type: boolean
                    nullable: false
                  show_prompt_to_ask_for_invitation:
                    type: boolean
                    nullable: false
                required: [data, show_apply_for_wallet, show_prompt_to_ask_for_invitation]
              example:
                data:
                  - body: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    link_url: https://www.mavenclinic.com/go
                    img_url: https://assets-global.website-files.com/5fb2b678e994739660d95086/6030ea859d1140824da429d0_maven-family.png
                    link_text: Go
                    title: What's covered?
                  - body: Vestibulum a risus eget purus aliquam luctus
                    link_url:
                    img_url: https://assets-global.website-files.com/5fb2b678e994739660d95086/6030ea859d1140824da429d0_maven-family.png
                    link_text:
                    title: How does it work?
                show_apply_for_wallet: true
components:
  examples:
    reimbursement_request_source:
      summary: Reimbursement request source object
      value:
        data:
          type: "user_asset"
          source_id: "123"
          source_url: "www.userasset.com"
          created_at: "2022-11-11T20:24:15"
          file_name: "user_asset.png"
    reimbursement_wallet:
      summary: Complete Wallet object
      value:
        data:
          id: "1128702692721009835"
          reimbursement_organization_settings:
            id: "814606626438882937"
            organization_id: 7
            allowed_reimbursement_categories:
              - id: "802610761642247822"
                label: RX
                reimbursement_request_category_maximum: 1000
                benefit_type: "CURRENCY"
              - id: "1118607832289455429"
                label: Clinic Visits
                reimbursement_request_category_maximum: 9000
                benefit_type: "CYCLE"
            benefit_overview_resource:
              title: Maven Wallet Details Resource
              url: >-
                https://www.mavenclinic.com/resources/content/article/maven-wallet-details-resource
            benefit_faq_resource:
              title: Maven Wallet FAQ Resource
              url: >-
                https://www.mavenclinic.com/resources/content/article/maven-wallet-faq-resource
            survey_url: https://www.surveymonkey.com/something/
            reimbursement_request_maximum: 10000
            is_active: true
            debit_card_enabled: true
            direct_payment_enabled: false
          currency_code: USD
          state: PENDING
          reimbursement_method: "DIRECT_DEPOSIT"
          zendesk_ticket_id: 98765
          debit_card_eligible: true
          reimbursement_wallet_debit_card: null
          hdhp_status: NONE
          debit_banner: null
          payment_block: null
          treatment_block: null
          employee:
            first_name: Jane
            last_name: Doe
            name: Jane Doe
          dependents:
            - first_name: Forrest
              last_name: Gump
              name: Forrest Gump
              id: 3
            - first_name: Barney
              last_name: Gumble
              name: Barney Gumble
              id: 2
          members:
            - first_name: Jane
              last_name: Doe
              name: Jane Doe
              id: 1
            - first_name: Barney
              last_name: Gumble
              name: Barney Gumble
              id: 2
          household:
            - first_name: Jane
              last_name: Doe
              name: Jane Doe
              id: 1
            - first_name: Barney
              last_name: Gumble
              name: Barney Gumble
              id: 2
            - first_name: Forrest
              last_name: Gump
              name: Forrest Gump
              id: 3
          channel_id: 12345
          benefit_id: "491043"
          payments_customer_id: null
          upcoming_payments:
            summary: null
            payments: []
          estimate_block: null
          pharmacy: null
    reimbursement_wallet_state_not_eligible_marketplace:
      summary: Marketplace member (non-enterprise)
      value:
        {
          "summary": {
            "show_wallet": false,
            "dashboard_state": null,
            "member_benefit_id": null,
            "member_type": "MARKETPLACE",
            "wallet_id": null,
            "channel_id": null,
            "pharmacy": null,
            "is_shareable": null,
          },
          "enrolled": [ ],
          "eligible": [ ]
        }
    reimbursement_wallet_state_not_eligible_access:
      summary: Wallet ineligible access member (org doesn't offer wallet)
      value:
        {
          "summary": {
            "show_wallet": false,
            "dashboard_state": null,
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": null,
            "channel_id": null,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": null,
          },
          "enrolled": [ ],
          "eligible": []
        }
    reimbursement_wallet_state_apply_access:
      summary: Wallet eligible access member (org offers wallet, MAVEN_GREEN/MAVEN_GOLD eligible)
      value:
        {
          "summary": {
            "show_wallet": true,
            "dashboard_state": "APPLY",
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": null,
            "channel_id": null,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": null,
          },
          "enrolled": [],
          "eligible": [
            {
              "wallet_id": null,
              "organization_setting_id": "1365730346010417119",
              "survey_url": "https://www.qa2.mvnapp.net/app/wallet-form-redirect?member_id_hash=768ecd29-6c11-4e4c-9ea9-ab08fe0a705d",
              "state": null,
              "benefit_overview_resource": {
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429",
                "title": "Maven Wallet Details Resource"
              },
              "benefit_faq_resource": {
                "url": "https://www.qa2.mvnapp.net/resources/content/article/considering-fertility-treatment-heres-how-maven-can-help",
                "title": "considering-fertility-treatment-heres-how-maven-can-help"
              }
            }
          ]
        }
    reimbursement_wallet_state_pending_access:
      summary: Wallet pending access member
      value:
        {
          "summary": {
            "show_wallet": true,
            "dashboard_state": "PENDING",
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": "1365752626700387250",
            "channel_id": 450220,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": False,
          },
          "enrolled": [
            {
              "wallet_id": "1365752626700387250",
              "channel_id": 450220,
              "state": "PENDING",
              "benefit_overview_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429"
              },
              "benefit_faq_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/content/article/maven-wallet-details-resource"
              }
            }
          ],
          "eligible": [ ]
        }
    reimbursement_wallet_state_disqualified_access:
      summary: Wallet disqualified access member
      value:
        {
          "summary": {
            "show_wallet": true,
            "dashboard_state": "DISQUALIFIED",
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": null,
            "channel_id": null,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": null,
          },
          "enrolled": [ ],
          "eligible": [
            {
              "wallet_id": "1367567173104629243",
              "organization_setting_id": "1365730346010417119",
              "survey_url": "https://www.qa2.mvnapp.net/app/wallet-form-redirect?member_id_hash=768ecd29-6c11-4e4c-9ea9-ab08fe0a705d",
              "state": "DISQUALIFIED",
              "benefit_overview_resource": {
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429",
                "title": "Maven Wallet Details Resource"
              },
              "benefit_faq_resource": {
                "url": "https://www.qa2.mvnapp.net/resources/content/article/considering-fertility-treatment-heres-how-maven-can-help",
                "title": "considering-fertility-treatment-heres-how-maven-can-help"
              }
            }
          ]
        }
    reimbursement_wallet_state_expired_access:
      summary: Wallet expired access member
      value:
        {
          "summary": {
            "show_wallet": false,
            "dashboard_state": null,
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": null,
            "channel_id": null,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": null,
          },
          "enrolled": [ ],
          "eligible": [ ]
        }
    reimbursement_wallet_state_runout_access:
      summary: Wallet runout access member
      value:
        {
          "summary": {
            "show_wallet": false,
            "dashboard_state": null,
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_ACCESS",
            "wallet_id": "1365752626700387250",
            "channel_id": 450220,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": False,
          },
          "enrolled": [
            {
              "wallet_id": "1365752626700387250",
              "channel_id": 450220,
              "state": "RUNOUT",
              "benefit_overview_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429"
              },
              "benefit_faq_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/content/article/maven-wallet-details-resource"
              }
            }
          ],
          "eligible": [ ]
        }
    reimbursement_wallet_state_enrolled_green:
      summary: Wallet enrolled green (reimbursement wallet) member
      value:
        {
          "summary": {
            "show_wallet": true,
            "dashboard_state": "QUALIFIED",
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_GREEN",
            "wallet_id": "1365752626700387250",
            "channel_id": 450220,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": False,
          },
          "enrolled": [
            {
              "wallet_id": "1365752626700387250",
              "channel_id": 450220,
              "state": "QUALIFIED",
              "benefit_overview_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429"
              },
              "benefit_faq_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/content/article/maven-wallet-details-resource"
              }
            }
          ],
          "eligible": []
        }
    reimbursement_wallet_state_enrolled_gold:
      summary: Wallet enrolled gold (direct payment wallet) member
      value:
        {
          "summary": {
            "show_wallet": true,
            "dashboard_state": "QUALIFIED",
            "member_benefit_id": "MJS3FJSG2",
            "member_type": "MAVEN_GOLD",
            "wallet_id": "1365752626700387250",
            "channel_id": 450220,
            "pharmacy": {
              "name": "SMP Pharmacy",
              "url": "https://www.mavenclinic.com/app/resources/content/r/mavenrx-smp-pharmacy",
            },
            "is_shareable": True,
          },
          "enrolled": [
            {
              "wallet_id": "1365752626700387250",
              "channel_id": 450220,
              "state": "QUALIFIED",
              "benefit_overview_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/custom/4429"
              },
              "benefit_faq_resource": {
                "title": "Maven Wallet Details Resource",
                "url": "https://www.qa2.mvnapp.net/resources/content/article/maven-wallet-details-resource"
              }
            }
          ],
          "eligible": []
        }
    reimbursement_wallet_bank_account:
      summary: Wallet bank account object
      value:
        bank_name: "Checking"
        last4: "4444"
        country: ""
    reimbursement_wallet_bank_account_input:
      summary: Wallet bank account input
      value:
        BankAcctName: "Checking"
        BankAccount: "0123456789"
        BankRoutingNumber: "021000089"
        BankAccountTypeCode: "CHECKING"
    reimbursement_wallet_debit_card:
      summary: Complete debit card object
      value:
        data:
          id: 1170270113142406611
          reimbursement_wallet_id: 1128702692721009835
          card_proxy_number: "1100054015522128"
          card_last_4_digits: "2128"
          card_status: "NEW"
          card_status_reason: 0
          card_status_reason_text: ""
          created_date: "2022-11-01"
          issued_date: "2022-11-01"
          shipped_date: null
          shipping_tracking_number: ""
    reimbursement_wallet_questionnaire:
      summary: Annual wallet questionnaire
      value:
        {
          "status": "required",
          "questionnaire": {
            "id": "d2b1cfd",
            "title": "Action Required: 2024 Health Insurance information needed",
            "body": "We need a bit of information from you regarding...",
            "expandableDetails":
            {
              header: "What is HDHP?",
              content: "A High Deductible Health Plan is..."
            },
            "questions": [
              {
                "id": "b1c54fa",
                "text": "Will you be on an HDHP?",
                "options": [
                  { text: "Yes", value: "yes" },
                  { text: "No", value: "no" }
                ]
              },
              {
                "id": "c4e92bc",
                "text": "Will your partner be on an HDHP?",
                "options": [
                  { text: "Yes", value: "yes" },
                  { text: "No", value: "no" }
                ]
              },
            ],
            "questionnaire_type": "LEGACY",
            "plan_year": "2024"
          }
        }
    reimbursement_wallet_questionnaire_response:
      summary: Annual wallet questionnaire response
      value:
        {
          "id": "d2b1cfd",
          "answers": {
            "b1c54fa": "yes",
            "cf164ee": "no"
          },
          "questionnaire_type": "LEGACY",
          "plan_year": "2024"
        }


    reimbursement_wallet_transactions:
      summary: Transaction list
      value:
        {
          "balance_after_upcoming_transactions": "$4822.78",
          "limit": 100,
          "offset": 0,
          "total": 2,
          "upcoming":
          [
            {
              "bill_uuid": "3764dd99-9858-47df-97af-40107a1873e4",
              "procedure_uuid": "0238c359-eebb-4128-92da-360448d331f2",
              "procedure_name": "IVF Fresh",
              "procedure_details": "June 1, 2023 | Covered by Maven",
              "maven_responsibility": "$2,532.23",
              "status": "PROCESSING",
            },
            {
              "bill_uuid": "",
              "procedure_uuid": "0cff31be-ba0e-4931-9ba9-ffae0f86e41d",
              "procedure_name": "Preservation",
              "procedure_details": "June 10, 2023 | Covered by Maven",
              "maven_responsibility": "$2464.99",
              "status": "NEW",
            }
          ]
        }
    users:
      summary:
        Wallet users objects
      value:
        [
          {
            "title": "Hank Hill",
            "subtitle": "",
            "can_cancel_invitation": false,
            "invitation_id": "",
          },
          {
            "title": "Sue Bird",
            "subtitle": "Pending approval",
            "can_cancel_invitation": false,
            "invitation_id": "",
          },
          {
            "title": "steve.kerr@warriors.com",
            "subtitle": "Invitation sent",
            "con_cancel_invitation": true,
            "invitation_id": "0ff593b5-fd1e-4873-9c37-b2f52d39e10c",
          }
        ]
    add_user:
      summary:
        Example add_user response
      value:
        {
          "message": "Your invite has been sent.",
          "can_retry": false
        }
    reimbursement_wallet_invitation_response:
      summary:
        Example get invitation response
      value:
        {
          "message": "Invitation found.",
          "inviter_name": "Sue",
          "survey_url": "surveymonkey.com/survey234"
        }
    reimbursement_wallet_invitation_input:
      summary:
        Example accept invitation input
      value:
        {
          "accept": true,
        }
    reimbursement_wallet_invitation_cancel_response:
      summary:
        Example cancel invitation response
      value:
        {
          "message": "Your invite has been canceled.",
        }
  schemas:
    benefit_resource:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
    reimbursement_request_source:
      type: object
      properties:
        type:
          type: string
        source_id:
          type: string
        source_url:
          type: string
        created_at:
          type: string
          format: date-time
        file_name:
          type: string
    reimbursement_request_state_enum:
      type: string
      enum:
        - NEW
        - PENDING
        - APPROVED
        - REIMBURSED
        - DENIED
        - FAILED
        - NEEDS_RECEIPT
        - RECEIPT_SUBMITTED
        - INSUFFICIENT_RECEIPT
        - INELIGIBLE_EXPENSE
        - RESOLVED
        - REFUNDED
    reimbursement_request_with_no_state_prop:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        service_provider:
          type: string
        person_receiving_service:
          type: string
        employee_name:
          type: string
        description:
          type: string
        amount:
          type: integer
        benefit_amount:
          nullable: false
          oneOf:
            - $ref: "#/components/schemas/reimbursement_amount_obj"
        transaction_amount:
          nullable: false
          oneOf:
            - $ref: "#/components/schemas/reimbursement_amount_obj"
        state_description:
          type: string
        category:
          type: object
          properties:
            id:
              type: string
            label:
              type: string
            benefit_type:
              type: string
              enum:
                - CURRENCY
                - CYCLE
        source:
          $ref: "#/components/schemas/reimbursement_request_source"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/reimbursement_request_source"
        service_state_date:
          type: string
          format: date-time
        service_end_date:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        taxation_status:
          type: string
[...]
