<section class="right-panel-empty" ng-class="{{ emptyCat.name }}" aria-hidden="true">
	<div class="empty-content">
		<h1 class="serif">{{ emptyCat.display_name }}</h1>
		<div ng-if="emptyCat.name === 'moms-parenting'">
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;Everything you are feeling is normal even when it doesn't feel like it. Being a new parent is
						extremely hard and you are doing a great job.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/bridget.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Bridget Cross</p>
						<div class="h5">Mental Health Specialist</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'health-wellness'">
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;When choosing a snack, pair a carbohydrate such as an apple or slice of whole grain bread, with a
						protein and/or a fat, such as almond butter or string cheese. This combo will help ensure your snack has
						staying power, helping to carry you over to your next meal.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/maya.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Maya Friedman</p>
						<div class="h5">Nutritionist</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'sex-relationships'">
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;If you are not ready to be a parent, please use birth control. There are so many choices out there.
						Let us help you find the right one!&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/rebecca.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Rebecca Callahan</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'mental-health' ">
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;We tend to not appreciate stressful situations as we are in them, but then look back and realize they
						fueled and fulfilled us in some way.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/marianne.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Dr. Marianna Strongin</p>
						<div class="h5">Psychologist</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'following'" tabindex="0">
			<h1 class="serif">Following</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;Skin is the largest organ of the human body. Hydration is key. Drinking pure coconut water will help
						hydrate you as coconut water has plenty of electrolytes that your body can use.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/jjm.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Jean-Jeffrey Marcellus</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'my-posts'" tabindex="0">
			<h1 class="serif">My posts</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;Skin is the largest organ of the human body. Hydration is key. Drinking pure coconut water will help
						hydrate you as coconut water has plenty of electrolytes that your body can use.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/jjm.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Jean-Jeffrey Marcellus</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'practitioners'">
			<h1 class="serif">Practitioners</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;Get moving! While it is recommended to get 30 minutes of aerobic activity daily, every little bit
						helps. Whether it's taking the stairs or getting up from your desk for a few minutes every hour to get water
						or walk down the hall, make excuses to sneak in some steps whenever you can.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/asefeh.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Asefeh Faraz</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'my-appointments'" tabindex="0">
			<h1 class="serif">Appointments</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;Be sure to get vaccinated against the flu. Keep hand sanitizer handy at all times to protect yourself
						from germs. Always washing your hands is the key to prevent the spread of germs and infection.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/jjm.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Jean-Jeffrey Marcellus</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'messages'" tabindex="0">
			<h1 class="serif">Messages</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;We tend to not appreciate stressful situations as we are in them, but then look back and realize they
						fueled and fulfilled us in some way.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/marianne.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Dr. Marianna Strongin</p>
						<div class="h5">Psychologist</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'book'" tabindex="0">
			<div class="serif h1">Find a practitioner</div>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<div class="p">
						&ldquo;Skin is the largest organ of the human body. Hydration is key. Drinking pure coconut water will help
						hydrate you as coconut water has plenty of electrolytes that your body can use.&rdquo;
					</div>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/jjm.png" /></div>
					<div class="practitioner-tip-author-info">
						<div class="p lg">Jean-Jeffrey Marcellus</p>
						<div class="h5">Nurse Practitioner</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="emptyCat.name === 'care-team'">
			<h1 class="serif">My Care Team</h1>
			<div class="empty-tip">
				<div class="practitioner-tip">
					<p>
						&ldquo;When choosing a snack, pair a carbohydrate such as an apple or slice of whole grain bread, with a
						protein and/or a fat, such as almond butter or string cheese. This combo will help ensure your snack has
						staying power, helping to carry you over to your next meal.&rdquo;
					</p>
				</div>
				<div class="practitioner-tip-author">
					<div class="practitioner-tip-author-photo"><img src="/img/app/forum/rightpanel/maya.png" /></div>
					<div class="practitioner-tip-author-info">
						<p class="lg">Maya Friedman</p>
						<div class="h5">Nutritionist</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
