openapi: 3.0.1
info:
  title: 'OpenAPI Specification for Mono'
  version: 1.0.0
servers:
- url: https://mavenclinic.com
  description: Base URL for Maven Clinic API
tags:
  - name: Care Discovery
  - name: MPractice 
  - name: Enrollments
  - name: Virtual Care 
  - name: Content and Community
  - name: Payments 
  - name: Core Services
  - name: Eligibility
  - name: Benefits Experience 
paths:
  /api/hdc/v1/assessments/{assessments-id}/user-assessments/answers:
    get:
      summary: ''
      description: ''
      tags: 
        - MPractice 
      parameters:
      - name: assessments-id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      type: object
                      properties:
                        mono_question_id:
                          type: object
                          description: unused 
                        version:
                          type: integer
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              export_flags:
                                type: array
                                items:
                                  type: string
                              translations:
                                type: object
                                description: unused 
                              contentful_answer_id:
                                type: integer
                              version:
                                type: integer
                              contentful_entry_id:
                                type: string
                              is_mutually_exclusive:
                                type: boolean
                              score_value:
                                type: integer
                              mpractice_highlight:
                                type: boolean
                              label:
                                type: string
                              mpractice_label:
                                type: string
                              export_flag_label_override:
                                type: string
                              id:
                                type: integer
                              entry_status:
                                type: string
                              value:
                                type: string
                        mpractice_label:
                          type: string
                        user_answers:
                          type: array
                        mpractice_display:
                          type: boolean
                        header:
                          type: string
                        slug:
                          type: string
                        display_condition:
                          type: object
                          properties:
                            display_sets:
                              type: array
                              items:
                                type: object
                                properties:
                                  contentful_entry_id:
                                    type: string
                                  note:
                                    type: string
                                  show_if_any_answer:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        export_flags:
                                          type: string
                                        translations:
                                          type: object
                                          description: unused 
                                        contentful_answer_id:
                                          type: integer
                                        version:
                                          type: integer
                                        contentful_entry_id:
                                          type: string
                                        is_mutually_exclusive:
                                          type: boolean
                                        score_value:
                                          type: integer
                                        mpractice_highlight:
                                          type: boolean
                                        label:
                                          type: string
                                        mpractice_label:
                                          type: string
                                        export_flag_label_override:
                                          type: string
                                        id:
                                          type: integer
                                        entry_status:
                                          type: string
                                        value:
                                          type: string
                                  entry_status:
                                    type: string
                                  version:
                                    type: integer
                                  question:
                                    type: string
                                  question_id:
                                    type: integer
                                  question_slug:
                                    type: string
                            version:
                              type: integer
                            relationship:
                              type: string
                            contentful_entry_id:
                              type: string
                            entry_status:
                              type: string
                            note:
                              type: string
                            show_if_any_answer:
                              type: array
                              items:
                                type: object
                                properties:
                                  export_flags:
                                    type: string
                                  translations:
                                    type: object
                                    description: unused 
                                  contentful_answer_id:
                                    type: integer
                                  version:
                                    type: integer
                                  contentful_entry_id:
                                    type: string
                                  is_mutually_exclusive:
                                    type: boolean
                                  score_value:
                                    type: integer
                                  mpractice_highlight:
                                    type: boolean
                                  label:
                                    type: string
                                  mpractice_label:
                                    type: string
                                  export_flag_label_override:
                                    type: string
                                  id:
                                    type: integer
                                  entry_status:
                                    type: string
                                  value:
                                    type: string
                        body:
                          type: string
                        id:
                          type: integer
                        entry_status:
                          type: string
                        translations:
                          type: object
                          description: unused 
                        microcopy:
                          type: string
                          format: free_text
                        export_flags:
                          type: array
                          items:
                            type: string
                        required:
                          type: boolean
                        contentful_entry_id:
                          type: string
                        widget_type:
                          type: string
                  description:
                    type: string
                    format: free_text
                  score_band:
                    type: object
                    properties:
                      '2':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              type:
                                type: string
                              url:
                                type: string
                              vertical_ids:
                                type: integer
                              label:
                                type: string
                      '12':
                        type: object
                        properties:
                          header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          cta:
                            type: object
                            properties:
                              label:
                                type: string
                              type:
                                type: string
                              vertical_ids:
                                type: string
                      '1':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              type:
                                type: string
                              url:
                                type: string
                              vertical_ids:
                                type: integer
                              label:
                                type: string
                      '0':
                        type: object
                        properties:
                          header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          cta:
                            type: object
                            properties:
                              label:
                                type: string
                              type:
                                type: string
                              vertical_ids:
                                type: integer
                      '8':
                        type: object
                        properties:
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              label:
                                type: string
                              type:
                                type: string
                              vertical_ids:
                                type: integer
                      '7':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              url:
                                type: string
                              label:
                                type: string
                              type:
                                type: string
                      '6':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              type:
                                type: string
                              url:
                                type: string
                              vertical_ids:
                                type: integer
                              label:
                                type: string
                      '5':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              url:
                                type: string
                              label:
                                type: string
                              type:
                                type: string
                      '4':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              type:
                                type: string
                              url:
                                type: string
                              vertical_ids:
                                type: integer
                              label:
                                type: string
                      '3':
                        type: object
                        properties:
                          hide_not_now:
                            type: boolean
                          desc:
                            type: array
                            items:
                              type: string
                              format: free_text
                          resource_header:
                            type: string
                          resource_icon:
                            type: string
                            format: url
                          show_message_option:
                            type: boolean
                          status_text:
                            type: string
                          resource_links:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: url
                                title:
                                  type: string
                          header:
                            type: string
                          cta:
                            type: object
                            properties:
                              type:
                                type: string
                              url:
                                type: string
                              vertical_ids:
                                type: integer
                              label:
                                type: string
                  visual_config:
                    type: array
                    items:
                      type: string
                  translations:
                    type: object
                    description: unused 
                  title:
                    type: string
                  intro_description:
                    type: string
                  intro_header:
                    type: string
                  contentful_entry_id:
                    type: string
                  slug:
                    type: string
                  user_assessment:
                    type: object
                    properties:
                      assessment_id:
                        type: integer
                      user_id:
                        type: integer
                      date_completed:
                        type: string
                      answers:
                        type: array
                        items:
                          type: object
                          properties:
                            question_version:
                              type: integer
                            created_at:
                              type: string
                            export_flags:
                              type: array
                              items:
                                type: string
                            contentful_answer_id:
                              type: integer
                            datatype:
                              type: string
                            mono_needs_assessment_id:
                              type: integer
                            user_id:
                              type: integer
                            label:
                              type: string
                            user_assessment_status_id:
                              type: integer
                            question_slug:
                              type: string
                            export_flag_label_override:
                              type: string
                            id:
                              type: integer
                            value:
                              type: string
                            question_id:
                              type: integer
                      completed_assessment:
                        type: boolean
                      num_assessment_taken:
                        type: integer
                      assessment_slug:
                        type: string
                  score_logic:
                    type: string
                  id:
                    type: integer
                  entry_status:
                    type: string
                  show_in_mpractice:
                    type: array
                  version:
                    type: integer
                  user_id:
                    type: integer
    patch:
      summary: ''
      description: ''
      tags:
        - MPractice 
      parameters:
      - name: assessments-id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  scoring:
                    type: integer
                  completed_assessment:
                    type: boolean
      requestBody:
        content:
          application/json:
            schema:
              required:
              - completed_assessment
              type: object
              properties:
                completed_assessment:
                  type: boolean
  /api/hdc/v1/user-assessments:
    post:
      summary: ''
      description: ''
      tags:
        - MPractice 
      parameters:
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_assessment_taken:
                    type: integer
                  completed_assessment:
                    type: boolean
                  assessment_id:
                    type: integer
                  user_id:
                    type: integer
                  date_completed:
                    type: string
                    format: date-time
                  assessment_slug:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - assessment_id
              type: object
              properties:
                assessment_id:
                  type: integer
  /api/hdc/v1/user-assessments/answers:
    get:
      summary: ''
      description: ''
      tags:
        - MPractice       
      parameters:
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    assessment_slug:
                      type: string
                    assessment_id:
                      type: integer
                    user_id:
                      type: integer
                    date_completed:
                      type: string
                    answers:
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            type: string
                          question_id:
                            type: integer
                          question_version:
                            type: integer
                          created_at:
                            type: string
                          export_flags:
                            type: array
                            items:
                              type: string
                          contentful_answer_id:
                            type: integer
                          datatype:
                            type: string
                          mono_needs_assessment_id:
                            type: integer
                          user_id:
                            type: integer
                          label:
                            type: string
                          user_assessment_status_id:
                            type: integer
                          question_slug:
                            type: string
                          export_flag_label_override:
                            type: string
                          id:
                            type: integer
                    completed_assessment:
                      type: boolean
                    num_assessment_taken:
                      type: integer
  /api/hdc/v1/user-assessments/assessments:
    get:
      summary: ''
      description: ''
      tags:
        - MPractice 
      parameters:
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    is_completed:
                      type: boolean
                    title:
                      type: string
                    assessment_id:
                      type: integer
                    is_backfilled_assessment:
                      type: boolean
                    modified_at:
                      type: string
                    score:
                      type: integer
                    assessment_slug:
                      type: string
                    user_id:
                      type: integer
                    answers:
                      type: array
                      items:
                        type: object
                        properties:
                          user_assessment_status_id:
                            type: integer
                          question_id:
                            type: integer
                          mpractice_question:
                            type: string
                          answer_id:
                            type: integer
                          widget_type:
                            type: string
                          mpractice_answer:
                            type: string
                          datatype:
                            type: string
                          question_slug:
                            type: string
                          mpractice_answer_highlight:
                            type: boolean
                          value:
                            type: string
                          label:
                            type: string
                          mpractice_question_display:
                            type: boolean
                    version:
                      type: integer
  /api/v1/_/agreements:
    post:
      summary: ''
      description: ''
      tags:
        - Enrollments 
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                  data:
                    type: object
                    properties:
                      message:
                        type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - agreements
              type: object
              properties:
                agreements:
                  type: array
                  items:
                    required:
                    - name
                    - version
                    type: object
                    properties:
                      accepted:
                        type: boolean
                      name:
                        type: string
                      version:
                        type: integer
                      optional:
                        type: boolean
  # /api/v1/_/agreements/Microsoft:
  #   get:
  #     summary: ''
  #     description: ''
  #     parameters:
  #     - name: version
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: integer
  #     - name: x-maven-user-locale
  #       in: header
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: string
  #     - name: lang
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: string
  #     responses:
  #       '200':
  #         description: OK
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 errors:
  #                   type: array
  #                 data:
  #                   type: object
  #                   properties:
  #                     version:
  #                       type: integer
  #                     display_name:
  #                       type: string
  #                     name:
  #                       type: string
  #                     agreement:
  #                       type: string
  #                       format: rich_text_html
  #                     optional:
  #                       type: boolean
  #                     language:
  #                       type: string
  #     requestBody: {}
  # /api/v1/_/agreements/gina:
  #   get:
  #     summary: ''
  #     description: ''
  #     parameters:
  #     - name: version
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: integer
  #     - name: x-maven-user-locale
  #       in: header
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: string
  #     - name: lang
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: string
  #     responses:
  #       '200':
  #         description: OK
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 errors:
  #                   type: array
  #                 data:
  #                   type: object
  #                   properties:
  #                     language:
  #                       type: string
  #                     optional:
  #                       type: boolean
  #                     agreement:
  #                       type: string
  #                       format: rich_text_html
  #                     name:
  #                       type: string
  #                     display_name:
  #                       type: string
  #                     version:
  #                       type: integer
  #     requestBody: {}
  # /api/v1/_/agreements/marathon_petroleum:
  #   get:
  #     summary: ''
  #     description: ''
  #     parameters:
  #     - name: version
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: integer
  #     - name: x-maven-user-locale
  #       in: header
  #       required: true
  #       style: simple
  #       explode: false
  #       schema:
  #         type: string
  #     - name: lang
  #       in: query
  #       required: true
  #       style: form
  #       explode: true
  #       schema:
  #         type: string
  #     responses:
  #       '200':
  #         description: OK
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 errors:
  #                   type: array
  #                 data:
  #                   type: object
  #                   properties:
  #                     optional:
  #                       type: boolean
  #                     language:
  #                       type: string
  #                     agreement:
  #                       type: string
  #                       format: rich_text_html
  #                     name:
  #                       type: string
  #                     display_name:
  #                       type: string
  #                     version:
  #                       type: integer
  #     requestBody: {}
  /api/v1/_/agreements/privacy:
    get:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      agreement:
                        type: string
                        format: rich_text_html
                      optional:
                        type: boolean
                      language:
                        type: string
                      version:
                        type: integer
                      display_name:
                        type: string
  /api/v1/_/agreements/terms:
    get:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                  data:
                    type: object
                    properties:
                      version:
                        type: integer
                      display_name:
                        type: string
                      name:
                        type: string
                      agreement:
                        type: string
                        format: rich_text_html
                      optional:
                        type: boolean
                      language:
                        type: string
  /api/v1/_/geography:
    get:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    common_name:
                      type: string
                    name:
                      type: string
                    alpha_3:
                      type: string
                    alpha_2:
                      type: string
                    official_name:
                      type: string
  /api/v1/_/geography/US:
    get:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    abbreviation:
                      type: string
                    subdivision_code:
                      type: string
  /api/v1/_/manual_census_verification:
    post:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-identities
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              required:
              - date_of_birth
              - has_set_is_employee
              - is_employee
              - progress
              type: object
              properties:
                own_last_name:
                  type: string
                date_of_birth:
                  type: string
                externallySourcedOrganization:
                  type: string
                last_name:
                  type: string
                has_set_is_employee:
                  type: boolean
                organization:
                  type: object
                  properties:
                    id:
                      type: integer
                    logo:
                      type: string
                      format: url
                    marketing_name:
                      type: string
                    name:
                      type: string
                eligibility:
                  type: object
                  properties:
                    code:
                      type: string
                    type:
                      type: string
                    fields:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          label:
                            type: string
                organization_id:
                  type: integer
                first_name:
                  type: string
                organizationFromSearchPage:
                  type: string
                isSSO:
                  type: boolean
                verification_type:
                  type: string
                own_first_name:
                  type: string
                company_email:
                  type: string
                  format: email
                progress:
                  type: integer
                stayToEdit:
                  type: boolean
                organization_name:
                  type: string
                work_state:
                  type: string
                subscriber_id:
                  type: string
                unique_corp_id:
                  type: integer
                specificEligibility:
                  type: object
                  properties:
                    organization_id:
                      type: integer
                    fields:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          label:
                            type: string
                    organization_logo:
                      type: string
                      format: url
                    organization_name:
                      type: string
                own_date_of_birth:
                  type: string
                tel_number:
                  type: integer
                multistepEligibility:
                  type: boolean
                is_employee:
                  type: boolean
  /api/v1/_/metadata:
    get:
      summary: ''
      description: ''
      tags:
        - Core Services
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  messaging_member_character_limit:
                    type: integer
                  tokbox_api_key:
                    type: integer
                  stripe_publishable_key:
                    type: string
                  stripe_publishable_key_reimbursements:
                    type: string
                  launchdarkly_client_side_id:
                    type: string
                  content_types:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        display_name:
                          type: string
                  asset_content_length_limit:
                    type: integer
                  cx_practitioner_id:
                    type: integer
                  ziggeo_account_id:
                    type: string
                  recaptcha_site_key:
                    type: string
                  platform_data:
                    type: object
                    properties:
                      android:
                        type: object
                        properties:
                          version:
                            type: integer
                      ios:
                        type: object
                        properties:
                          practitioner:
                            type: string
                          patient:
                            type: string
                          version:
                            type: string
                  default_college_vertical_group:
                    type: string
                  environment:
                    type: string
                  sp_events_tracking_url:
                    type: string
                  launchdarkly_mobile_key:
                    type: string
  /api/v1/_/metadata/vendor:
    get:
      summary: ''
      description: ''
      tags:
        - Core Services 
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datadog_rum:
                    type: object
                    properties:
                      fertility_portal_application_id:
                        type: string
                      mpractice_application_id:
                        type: string
                      mavencore_client_token:
                        type: string
                      fertility_portal_client_token:
                        type: string
                      mpractice_client_token:
                        type: string
                      mavencore_application_id:
                        type: string
                  sentry:
                    type: object
                    properties:
                      android_dsn:
                        type: string
                        format: url
                      ios_mpractice_dsn:
                        type: string
                        format: url
                      ios_dsn:
                        type: string
                        format: url
                  braze:
                    type: object
                    properties:
                      android_api_key:
                        type: string
                      web_sdk_url:
                        type: string
                      web_api_key:
                        type: string
                      ios_sdk_url:
                        type: string
                      sdk_url:
                        type: string
                      ios_api_key:
                        type: string
                      ios_mpractice_api_key:
                        type: string
  /api/v1/_/report_eligibility_verification_failure:
    post:
      summary: ''
      description: ''
      tags:
        - Eligibility 
      parameters:
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-identities
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              required:
              - verification_type
              type: object
              properties:
                organizationFromSearchPage:
                  type: string
                externallySourcedOrganization:
                  type: string
                verification_type:
                  type: string
  /api/v1/_/vendor/vonage/webhooks:
    post:
      summary: ''
      description: ''
      tags: 
        - Virtual Care 
      parameters: []
      responses:
        '200':
          description: OK
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              required:
              - event
              - projectId
              - sessionId
              - timestamp
              type: object
              properties:
                sessionId:
                  type: string
                stream:
                  type: object
                  properties:
                    name:
                      type: string
                    videoType:
                      type: string
                    id:
                      type: string
                    createdAt:
                      type: integer
                    connection:
                      type: object
                      properties:
                        createdAt:
                          type: integer
                        data:
                          type: string
                        captionProvider:
                          type: boolean
                        id:
                          type: string
                connection:
                  type: object
                  properties:
                    createdAt:
                      type: integer
                    data:
                      type: string
                    captionProvider:
                      type: boolean
                    id:
                      type: string
                createdAt:
                  type: integer
                event:
                  type: string
                timestamp:
                  type: integer
                projectId:
                  type: integer
                reason:
                  type: string
  /api/v1/_/vendor/zoom/webhook:
    post:
      summary: ''
      description: ''
      tags: 
        - Virtual Care 
      parameters:
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  encryptedToken:
                    type: string
                  message:
                    type: string
                  plainToken:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - event
              type: object
              properties:
                event_ts:
                  type: integer
                payload:
                  type: object
                  properties:
                    object:
                      type: object
                      properties:
                        session_id:
                          type: string
                        session_name:
                          type: string
                        id:
                          type: string
                        issues:
                          type: array
                          items:
                            type: string
                    plainToken:
                      type: string
                    account_id:
                      type: string
                event:
                  type: string
  /api/v1/advocate-assignment/reassign/{reassign-id}:
    post:
      summary: ''
      description: ''
      tags:
        - Care Discovery 
      parameters:
      - name: reassign-id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: x-maven-user-locale
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
      requestBody:
        content:
          application/json:
            schema:
              required:
              - back_to_back_assessments
              - need_updated_risk_factors
              type: object
              properties:
                need_updated_risk_factors:
                  type: boolean
                back_to_back_assessments:
                  type: boolean
  /api/v1/agreements/pending:
    get:
      summary: ''
      description: ''
      tags:
        - Enrollments
      parameters:
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: array
                    items:
                      type: object
                      properties:
                        display_name:
                          type: string
                        optional:
                          type: boolean
                        name:
                          type: string
                        version:
                          type: integer
                  organization:
                    type: array
                    items:
                      type: object
                      properties:
                        display_name:
                          type: string
                        optional:
                          type: boolean
                        name:
                          type: string
                        version:
                          type: integer
  /api/v1/appointments:
    get:
      summary: ''
      description: ''
      tags:
        - Care Discovery
      parameters:
      - name: practitioner_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-identities
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: member_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: limit
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-locale
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-maven-client
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: minimal
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: x-maven-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: scheduled_start
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: order_direction
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: scheduled_end
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      schedule_event_ids:
                        type: 'comma separated integer list'
                      scheduled_end:
                        type: string
                      scheduled_start:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        state_match_type:
                          type: string
                        rx_reason:
                          type: string
                        surveys:
                          type: object
                          properties:
                            cancellation_survey:
                              type: object
                              properties:
                                recorded_answers:
                                  type: array
                                questionnaires:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      description_text:
                                        type: string
                                      soft_deleted_at:
                                        type: string
                                        format: date-time
                                      trigger_answer_ids:
                                        type: array
                                      sort_order:
                                        type: integer
                                      question_sets:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            soft_deleted_at:
                                              type: string
                                              format: date-time
                                            sort_order:
                                              type: integer
                                            questions:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  label:
                                                    type: string
                                                  id:
                                                    type: integer
                                                  soft_deleted_at:
                                                    type: string
                                                    format: date-time
                                                  answers:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        sort_order:
                                                          type: integer
                                                        soft_deleted_at:
                                                          type: string
                                                          format: date-time
                                                        oid:
                                                          type: string
                                                        id:
                                                          type: integer
                                                        text:
                                                          type: string
                                                  non_db_answer_options_json:
                                                    type: string
                                                  sort_order:
                                                    type: integer
                                                  type:
                                                    type: string
                                                  required:
                                                    type: boolean
                                                  oid:
                                                    type: string
                                            oid:
                                              type: string
                                            id:
                                              type: integer
                                            prerequisite_answer_id:
                                              type: integer
                                      id:
                                        type: integer
                                      oid:
                                        type: string
                                      title_text:
                                        type: string
                        cancelled_by:
                          type: string
                        rx_written_at:
                          type: string
                          format: date-time
                        prescription_info:
                          type: object
                          properties:
                            pharmacy_id:
                              type: string
                            enabled:
                              type: boolean
                            pharmacy_info:
                              type: object
                              properties:
                                ServiceLevel:
                                  type: integer
                                IsPreferred:
                                  type: boolean
                                PrimaryPhone:
                                  type: integer
                                IsDefault:
                                  type: boolean
                                ZipCode:
                                  type: integer
                                State:
                                  type: string
                                PrimaryFax:
                                  type: integer
                                PharmacyId:
                                  type: integer
                                City:
                                  type: string
                                StoreName:
                                  type: string
                                Address2:
                                  type: string
                                PrimaryPhoneType:
                                  type: integer
                                Address1:
                                  type: string
                                Pharmacy:
                                  type: string
                        scheduled_end:
                          type: string
                        member:
                          type: object
                          properties:
                            organization:
                              type: object
                              properties:
                                education_only:
                                  type: boolean
                                vertical_group_version:
                                  type: string
                                id:
                                  type: integer
                                benefits_url:
                                  type: string
                                name:
                                  type: string
                                bms_enabled:
                                  type: boolean
                                rx_enabled:
                                  type: boolean
                                display_name:
                                  type: string
                            encoded_id:
                              type: string
                            test_group:
                              type: string
                            image_id:
                              type: integer
                            last_name:
                              type: string
                            id:
                              type: integer
                            esp_id:
                              type: string
                            username:
                              type: string
                            first_name:
                              type: string
                            middle_name:
                              type: string
                            name:
                              type: string
                            created_at:
                              type: string
                            profiles:
                              type: object
                              properties:
                                member:
                                  type: object
                                  properties:
                                    has_care_plan:
                                      type: boolean
                                    care_plan_id:
                                      type: integer
                                    phone_number:
                                      type: integer
                                    user_flags:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                    tel_number:
                                      type: string
                                    can_book_cx:
                                      type: boolean
                                    opted_in_notes_sharing:
                                      type: boolean
                                    state:
                                      type: string
                                    tel_region:
                                      type: string
                                    subdivision_code:
                                      type: string
                                    address:
                                      type: object
                                      properties:
                                        city:
                                          type: string
                                        street_address:
                                          type: string
                                        state:
                                          type: string
                                        zip_code:
                                          type: integer
                                        country:
                                          type: string
                                    country:
                                      type: string
                                    color_hex:
                                      type: string
                            care_coordinators:
                              type: array
                            subscription_plans:
                              type: object
                              deprecated: true 
                            country:
                              type: object
                              properties:
                                name:
                                  type: string
                                abbr:
                                  type: string
                                summary:
                                  type: string
                                  format: free_text
                                ext_info_link:
                                  type: string
                                  format: url
                            email:
                              type: string
                              format: email
                            image_url:
                              type: string
                              format: url
                            avatar_url:
                              type: string
                            role:
                              type: string
                        provider_addenda:
                          type: object
                          properties:
                            questionnaire:
                              type: object
                              properties:
                                description_text:
                                  type: string
                                soft_deleted_at:
                                  type: string
                                  format: date-time
                                trigger_answer_ids:
                                  type: array
                                sort_order:
                                  type: integer
                                question_sets:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      soft_deleted_at:
                                        type: string
                                        format: date-time
                                      sort_order:
                                        type: integer
                                      questions:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            label:
                                              type: string
                                            id:
                                              type: integer
                                            soft_deleted_at:
                                              type: string
                                              format: date-time
                                            answers:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  sort_order:
                                                    type: integer
                                                  soft_deleted_at:
                                                    type: string
                                                    format: date-time
                                                  oid:
                                                    type: string
                                                  id:
                                                    type: integer
                                                  text:
                                                    type: string
                                            non_db_answer_options_json:
                                              type: string
                                            sort_order:
                                              type: integer
                                            type:
                                              type: string
                                            required:
                                              type: boolean
                                            oid:
                                              type: string
                                      oid:
                                        type: string
                                      id:
                                        type: integer
                                      prerequisite_answer_id:
                                        type: integer
                                id:
                                  type: integer
                                oid:
                                  type: string
                                title_text:
                                  type: string
                            provider_addenda:
                              type: array
                        privilege_type:
                          type: string
                        need:
                          type: object
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
                            description:
                              type: string
                        member_started_at:
                          type: string
                        phone_call_at:
                          type: string
                          format: date-time
                        cancelled_note:
                          type: string
                        scheduled_start:
                          type: string
                        product:
                          type: object
                          properties:
                            price:
                              type: number
                              format: float
                            vertical_id:
                              type: integer
                            practitioner:
                              type: object
                              properties:
                                email:
                                  type: string
                                  format: email
                                id:
                                  type: integer
                                care_coordinators:
                                  type: array
                                image_url:
                                  type: string
                                  format: url
                                username:
                                  type: string
                                test_group:
                                  type: string
                                last_name:
                                  type: string
                                role:
                                  type: string
                                first_name:
                                  type: string
                                name:
                                  type: string
                                  
                                profiles:
                                  type: object
                                  properties:
                                    member:
                                      type: object
                                      properties:
                                        has_care_plan:
                                          type: boolean
                                        care_plan_id:
                                          type: integer
                                        phone_number:
                                          type: integer
                                        user_flags:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                        tel_number:
                                          type: string
                                        can_book_cx:
                                          type: boolean
                                        opted_in_notes_sharing:
                                          type: boolean
                                        state:
                                          type: string
                                        tel_region:
                                          type: string
                                        subdivision_code:
                                          type: string
                                        address:
                                          type: object
                                          properties:
                                            city:
                                              type: string
                                            street_address:
                                              type: string
                                            state:
                                              type: string
                                            zip_code:
                                              type: string
                                            country:
                                              type: string
                                        country:
                                          type: string
                                        color_hex:
                                          type: string
                                    practitioner:
                                      type: object
                                      properties:
                                        state:
                                          type: string
                                        categories:
                                          type: array
                                          items:
                                            type: string
                                        work_experience:
                                          type: string
                                        next_availability:
                                          type: string
                                        subdivision_code:
                                          type: string
                                        response_time:
                                          type: integer
                                        faq_password:
                                          type: string
                                        specialties:
                                          type: array
                                          items:
                                            type: string
                                        messaging_enabled:
                                          type: boolean
                                        country:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                            abbr:
                                              type: string
                                            summary:
                                              type: string
                                              format: free_text
                                            ext_info_link:
                                              type: string
                                              format: url
                                        rating:
                                          type: number
                                          format: float
                                        care_team_type:
                                          type: string
                                        address:
                                          type: object
                                          properties:
                                            city:
                                              type: string
                                            street_address:
                                              type: string
                                            state:
                                              type: string
                                            zip_code:
                                              type: string
                                            country:
                                              type: string
                                        tel_region:
                                          type: string
                                        user_id:
                                          type: integer
                                        reference_quote:
                                          type: string
                                        years_experience:
                                          type: integer
                                        phone_number:
                                          type: integer
                                        agreements:
                                          type: object
                                          properties:
                                            subscription:
                                              type: boolean
                                        certified_states:
                                          type: array
                                          items:
                                            type: string
                                        verticals:
                                          type: array
                                          items:
                                            type: string
                                        can_prescribe_to_member:
                                          type: boolean
                                        vertical_objects:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              long_description:
                                                type: string
                                                format: free_text
                                              filter_by_state:
                                                type: boolean
                                              description:
                                                type: string
                                              name:
                                                type: string
                                              can_prescribe:
                                                type: boolean
                                              id:
                                                type: integer
                                              pluralized_display_name:
                                                type: string
                                        country_code:
                                          type: string
                                        languages:
                                          type: array
                                          items:
                                            type: string
                                        cancellation_policy:
                                          type: string
                                        can_prescribe:
                                          type: boolean
                                        certified_subdivision_codes:
                                          type: array
                                          items:
                                            type: string
                                        is_cx:
                                          type: boolean
                                        tel_number:
                                          type: string
                                        can_member_interact:
                                          type: boolean
                                        certifications:
                                          type: array
                                          items:
                                            type: string
                                        education:
                                          type: string
                                        awards:
                                          type: string
                                avatar_url:
                                  type: string
                                  format: url
                                subscription_plans:
                                  type: object
                                  deprecated: true 
                                image_id:
                                  type: integer
                                middle_name:
                                  type: string
                                esp_id:
                                  type: string
                                country:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    abbr:
                                      type: string
                                    summary:
                                      type: string
                                      format: free_text
                                    ext_info_link:
                                      type: string
                                      format: url
                                encoded_id:
                                  type: string
                            id:
                              type: integer
                            minutes:
                              type: integer
                        practitioner_ended_at:
                          type: string
                        post_session:
                          type: object
                          properties:
                            created_at:
                              type: string
                            draft:
                              type: boolean
                            notes:
                              type: string
                            modified_at:
                              type: string
                        ratings:
                          type: object
                          properties: {}
                        need_id:
                          type: integer
                        disputed_at:
                          type: string
                          format: date-time
[...]
