$baseFontSize: 16px;
$baseLineHeight: 1.45;
$leading: $baseLineHeight * 1rem;

/* Setup */
html {
	font-weight: normal;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: auto;
	-moz-text-size-adjust: auto;
	-ms-text-size-adjust: auto;
	-o-text-size-adjust: auto;
	text-size-adjust: auto;
	font-family: $font1;
	color: $gray-dk;
	letter-spacing: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-family: $font1-semibold;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	margin: 1.25rem 0;
	font-weight: normal;
	&.serif {
		font-family: $font3;
		letter-spacing: 0.3px;
	}
}

h1,
.h1,
h2,
.h2 {
	margin: 1.5rem 0;
}
h1,
.h1 {
	font-size: 2.5rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.625rem;
}

h4,
.h4 {
	font-size: 1.375rem;
}

h4,
.h4,
h5,
.h5 {
	&.serif {
		letter-spacing: 0.2px;
	}
	&.caps {
		text-transform: uppercase;
	}
}

h5,
.h5 {
	font-size: 1.125rem;
}

p,
.p {
	margin: 1rem 0;
	line-height: 1.5rem;
	&.lg {
		font-size: 1.125rem;
	}

	&.sm {
		font-size: 0.75rem;
		line-height: 1.2rem;
	}

	&.xs {
		line-height: 1.15rem;
		font-size: 0.625rem;
		letter-spacing: 0.15px;
	}

	&.bold {
		font-family: $font1-bold;
	}

	&.semi-bold {
		font-family: $font1-semibold;
	}

	&.it {
		font-family: $font1-it;
	}

	&.serif {
		font-family: $font2;
		&.semi-bold {
			font-family: $font3;
		}
		&.it {
			// todo?
		}
	}

	&.legal {
		// todo - replace with .xs .it
		font-size: 0.625rem;
		font-family: $font1-it;
	}
}

strong {
	font-family: $font1-semibold;
}

i {
	font-family: $font1-it;
}

ul,
ol {
	margin-top: $leading;
	margin-bottom: $leading;
	li {
		line-height: $leading;
	}
	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

blockquote {
	line-height: $leading;
	margin-top: $leading;
	margin-bottom: $leading;
}

/* Tables */

table {
	margin-top: $leading;
	border-spacing: 0px;
	border-collapse: collapse;
}
td,
th {
	padding: 0;
	line-height: $baseLineHeight * $baseFontSize - 0px;
}
