# Ignore everything:
*

# Allow build and source artifacts:
# ! negates the pattern, see docs for syntax: https://docs.docker.com/engine/reference/builder/#dockerignore-file

!pyproject.toml
!poetry.lock
!wheelhouse

!__init__.py
!alembic.ini
!api_console.py
!app.py
!application.py
!application_dev.py
!configuration.py
!emails.py
!gunicorn_config.py
!gunicorn_config.qa.py
!gunicorn_logging.py
!mmono.py
!path.py
!server.py
!setup.py

!activity
!admin
!airflow
!appointments
!assessments
!audit_log
!authn
!authz
!benchmark
!bms
!bq_etl
!braze
!caching
!care_advocates
!care_plans
!clinical_documentation
!common
!cost_breakdown
!cron
!crypto
!data_admin
!direct_payment
!dosespot
!eligibility
!geography
!glidepath
!global_search
!health
!incentives
!l10n
!learn
!maven_json
!maven_schemas
!members
!messaging
!models
!mpractice
!notification
!payer_accumulator
!payments
!personalization
!phone_support
!preferences
!provider_matching
!providers
!schemas
!scripts
!search
!services
!storage
!tasks
!templates
!tracker
!tracks
!urls
!user_locale
!utils
!views
!wallet
!spec

# Ignore certain files from allowed directories:

# Nested test directories
admin/tests
**/pytests
# MacOS filesystem metadata
**/.DS_Store
# Python cached bytecode
**/__pycache__
**/*.py[cod]

# The following files are needed to run data admin, but are manually removed when building the api-deploy target
!data_admin
!conftest.py
!tests/__init__.py
!tests/runtime.py
!tests/domains
!pytests/__init__.py
!pytests/compat.py
!pytests/factories.py
!pytests/db_util.py
!pytests/freezegun.py

# Allow glidepath pytests back in because this module is imported by data admin
!glidepath/pytests
